# pandas è¿›é˜¶ä¿®ç‚¼ ï½œæ—©èµ·Python
<br>

**æœ¬ä¹ é¢˜ç”±å…¬ä¼—å·ã€æ—©èµ·Python & å¯è§†åŒ–å›¾é‰´ã€‘ åŸåˆ›ï¼Œè½¬è½½åŠå…¶ä»–å½¢å¼åˆä½œè¯·ä¸æˆ‘ä»¬è”ç³»ï¼ˆå¾®ä¿¡å·`sshs321`)ï¼Œæœªç»æˆæƒä¸¥ç¦æ¬è¿åŠäºŒæ¬¡åˆ›ä½œï¼Œä¾µæƒå¿…ç©¶ï¼**



æœ¬ä¹ é¢˜åŸºäº `pandas` ç‰ˆæœ¬ `1.1.3`ï¼Œæ‰€æœ‰å†…å®¹åº”å½“åœ¨ `Jupyter Notebook` ä¸­æ‰§è¡Œä»¥è·å¾—æœ€ä½³æ•ˆæœã€‚

ä¸åŒç‰ˆæœ¬ä¹‹é—´å†™æ³•å¯èƒ½ä¼šæœ‰å°‘è®¸ä¸åŒï¼Œå¦‚è‹¥ç¢°åˆ°æ­¤æƒ…å†µï¼Œä½ åº”è¯¥å­¦ä¼šå¦‚ä½•è‡ªè¡Œæ£€ç´¢è§£å†³ã€‚

# 1 - æ•°æ®åŠ è½½ä¸å­˜å‚¨

æ˜¯çš„ï¼Œå¸¸å¸¸è¢«å¿½ç•¥çš„ã€Œ<font color=#E36C07>**æ•°æ®åŠ è½½ä¸å­˜å‚¨**</font>ã€ä¹Ÿå¤§æœ‰é—¨é“ä¸”å€¼å¾—ä½œä¸ºæœ¬å¥—ä¹ é¢˜çš„å¼€é—¨ä¹‹ç« ã€‚

åœ¨ä¸€æ¬¡æ•°æ®åˆ†æçš„è¿‡ç¨‹ä¸­ï¼Œä½ å¯èƒ½åªä¼šè¯»å–æˆ–å­˜å‚¨ä¸€ä¸¤æ¬¡æ•°æ®é›†ã€‚

**ä½†è‹¥èƒ½çµæ´»æŒæ¡å„é¡¹è®¾ç½®ï¼Œåœ¨è¯»å–é˜¶æ®µå°±å°†æ•°æ®ç­›é€‰ã€åŒ¹é…ã€æ ¼å¼æŒ‡å®šç­‰æ“ä½œå®Œæˆï¼Œæœ‰æ—¶ä¼šä¸ºæˆ‘ä»¬èŠ‚çœå¤§é‡æ—¶é—´ã€‚**

åœ¨æœ¬èŠ‚ä¹ é¢˜ä¸­ï¼Œæˆ‘å°† pandas æ•°æ®åˆ†æä¸­å¸¸è§çš„æ•°æ®è¯»å–ä¸å­˜å‚¨æ“ä½œè¿›è¡Œæ•´ç†ã€‚

<font color=#E36C07>**æ—¢å¯ä»¥ç”¨äºå·©å›ºã€å­¦ä¹ å„ç§æ“ä½œï¼Œä¹Ÿå¯ä»¥ä½œä¸ºé€ŸæŸ¥æ‰‹å†Œä½¿ç”¨**</font>ã€‚

## åˆå§‹åŒ–

<br>

è¯¥ `Notebook` ç‰ˆæœ¬ä¸º**çº¯ä¹ é¢˜ç‰ˆ**

å¦‚æœéœ€è¦ç­”æ¡ˆæˆ–è€…æç¤ºï¼Œå¯ä»¥å¾®ä¿¡æœç´¢å…¬ä¼—å·ã€Œæ—©èµ·Pythonã€è·å–ï¼

## 1-1 æ•°æ®è¯»å–

### 1 è¯»å– Excel æ–‡ä»¶

<br>

- è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶

- è¯»å–å½“å‰ç›®å½•ä¸‹ `TOP250.xlsx` æ–‡ä»¶

**æ³¨æ„**ï¼šä½¿ç”¨ `pandas` è¯»å– `CSV` ä¸ è¯»å– `xlsx` æ ¼å¼çš„ `Excel` æ–‡ä»¶æ–¹æ³•å¤§è‡´ç›¸åŒ

å› æ­¤æ¥ä¸‹æ¥ä¸ `Excel` ç›¸å…³çš„æ“ä½œå‡ä»¥ `CSV` æ ¼å¼è¿›è¡Œå‡ºé¢˜ã€‚

In [3]:
import pandas as pd
data = pd.read_csv("æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv")
data = pd.read_excel("TOP250.xlsx")

### 2 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šä½ç½®

åœ¨å¤§å¤šæ•°æƒ…å†µä¸‹ï¼Œæˆ‘ä»¬ä¼šå°† `notebook` å’Œæ•°æ®æºæ–‡ä»¶æ”¾åœ¨åŒä¸€ä¸ªç›®å½•ï¼ˆæ–‡ä»¶å¤¹ä¸‹ï¼‰ï¼Œè¿™æ ·ç›´æ¥ä½¿ç”¨`pd.read_xxx("æ–‡ä»¶å")`å³å¯æˆåŠŸè¯»å–ã€‚
 
ä½†æœ‰æ—¶éœ€è¦è¯»å–çš„æ–‡ä»¶å’Œ `notebook` ä¸åœ¨åŒä¸€ä¸ªç›®å½•ä¸‹ï¼Œè¿™æ—¶å¯ä»¥ä½¿ç”¨ç»å¯¹è·¯å¾„æˆ–è€…ç›¸å¯¹æœ¬ `notebook` çš„è·¯å¾„ã€‚

ç°åœ¨è¯·è¯»å–æœ¬å¥—ä¹ é¢˜ä¸­ç¬¬äºŒç« èŠ‚ä¸‹çš„æ•°æ®ï¼Œå³ `2 - ä¸ªæ€§åŒ–æ˜¾ç¤ºè®¾ç½®/data.csv`

In [6]:
data_ext = pd.read_csv('../2 - ä¸ªæ€§åŒ–æ˜¾ç¤ºè®¾ç½®/data.csv')
data_ext.head(n=2)

,positionId,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,...,plus,pcShow,appShow,deliver,gradeDescription,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
0,6802721,æ•°æ®åˆ†æ,475770,50-150äºº,"ç§»åŠ¨äº’è”ç½‘,ç”µå•†",Aè½®,"['ç»©æ•ˆå¥–é‡‘', 'å¸¦è–ªå¹´å‡', 'å®šæœŸä½“æ£€', 'å¼¹æ€§å·¥ä½œ']",äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],False
1,5204912,æ•°æ®å»ºæ¨¡,50735,150-500äºº,ç”µå•†,Bè½®,"['å¹´ç»ˆå¥–é‡‘', 'åšäº”ä¼‘äºŒ', 'å…­é™©ä¸€é‡‘', 'å­å¥³ç¦åˆ©']",å¼€å‘|æµ‹è¯•|è¿ç»´ç±»,æ•°æ®å¼€å‘,å»ºæ¨¡,...,NaN,0,0,0,NaN,NaN,0,0,[],False

###  3 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šè¡Œï¼ˆé¡ºåºï¼‰
<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶çš„ <font color = '#5F5FFC'>å‰20è¡Œ</font>

In [8]:
data = pd.read_csv("æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv", nrows=20)
print(data.shape)

(20, 52)

In [10]:
data = pd.read_csv("æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv")
print(data.shape)

(105, 52)

###  4 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šè¡Œï¼ˆè·³è¿‡ï¼‰
<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶å¹¶<font color = '#5F5FFC'>è·³è¿‡å‰20è¡Œ</font>

In [9]:
data = pd.read_csv("æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv", skiprows=20)
print(data.shape)

(85, 52)

###  5 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šè¡Œï¼ˆæ¡ä»¶ï¼‰
<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ä¸­å…¨éƒ¨<font color = '#5F5FFC'>å¶æ•°è¡Œ</font>

æ€è€ƒï¼šå¦‚æœæ˜¯è¯»å–å…¨éƒ¨å¥‡æ•°è¡Œï¼Œæˆ–è€…æ›´å¤šæ»¡è¶³æŒ‡å®šæ¡ä»¶çš„è¡Œå‘¢ï¼Ÿ

In [13]:
data = pd.read_csv("æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv", skiprows=(lambda x: x %2 == 0))
print(data.shape)

(52, 52)

### 6 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šåˆ—ï¼ˆåˆ—å·ï¼‰

<br>

**æ ¹æ®æŒ‡å®šåˆ—å·è¯»å–**

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶çš„ç¬¬ `1ã€3ã€5` åˆ—

In [14]:
data = pd.read_csv("æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv", usecols=[1,3,5])
print(data.shape)

(105, 3)

###  7 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šåˆ—ï¼ˆåˆ—åï¼‰

<br>

**æ ¹æ®æŒ‡å®šåˆ—åè¯»å–**

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶çš„ `positionIdã€positionNameã€salary` åˆ—

In [19]:
data = pd.read_csv("æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv", usecols=["positionId","positionName","salary"])
data.head

<bound method NDFrame.head of      positionId           positionName  salary
0       6802721                   æ•°æ®åˆ†æ   37500
1       5204912                   æ•°æ®å»ºæ¨¡   15000
2       6877668                   æ•°æ®åˆ†æ    3500
3       6496141                   æ•°æ®åˆ†æ   45000
4       6467417                   æ•°æ®åˆ†æ   30000
..          ...                    ...     ...
100     6884346                  æ•°æ®åˆ†æå¸ˆ   25000
101     6849100                 å•†ä¸šæ•°æ®åˆ†æ   35000
102     6803432        å¥”é©°Â·è€€å‡ºè¡Œ-BIæ•°æ®åˆ†æä¸“å®¶   30000
103     6704835                BIæ•°æ®åˆ†æå¸ˆ   20000
104     6728058  æ•°æ®åˆ†æä¸“å®¶-LQ(J181203029)   21500

[105 rows x 3 columns]>

###  8 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šåˆ—ï¼ˆåŒ¹é…ï¼‰

<br>

**æ ¹æ®æŒ‡å®šåˆ—ååŒ¹é…è¯»å–**

è®©æˆ‘ä»¬æ¥ä¸ªæ›´éš¾ä¸€ç‚¹çš„ï¼Œè¿˜æ˜¯è¯»å– `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œä½†ç°åœ¨æœ‰ä¸€ä¸ª list ä¸­åŒ…å«å¤šä¸ªå­—æ®µğŸ‘‡

`usecols = ['positionId','test','positionName', 'test1','salary']`

å¦‚æœ `usecols` ä¸­çš„åˆ—åå­˜åœ¨äº `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` ä¸­ï¼Œåˆ™è¯»å–ã€‚

In [21]:
data = pd.read_csv("æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv", usecols=lambda x: x in ['positionId','test','positionName', 'test1','salary'])
data.shape

(105, 3)

### 9 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šç´¢å¼•

<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œå¹¶åœ¨è¯»å–æ—¶å°† `positionId` è®¾ç½®ä¸ºç´¢å¼•åˆ—

In [20]:
data = pd.read_csv("æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv", index_col='positionId')
data.head

<bound method NDFrame.head of                      positionName  companyId companySize industryField  \
positionId
6802721                      æ•°æ®åˆ†æ     475770     50-150äºº      ç§»åŠ¨äº’è”ç½‘,ç”µå•†
5204912                      æ•°æ®å»ºæ¨¡      50735    150-500äºº            ç”µå•†
6877668                      æ•°æ®åˆ†æ     100125     2000äººä»¥ä¸Š    ç§»åŠ¨äº’è”ç½‘,ä¼ä¸šæœåŠ¡
6496141                      æ•°æ®åˆ†æ      26564   500-2000äºº            ç”µå•†
6467417                      æ•°æ®åˆ†æ      29211     2000äººä»¥ä¸Š         ç‰©æµä¸¨è¿è¾“
...                           ...        ...         ...           ...
6884346                     æ•°æ®åˆ†æå¸ˆ      21236   500-2000äºº   ç§»åŠ¨äº’è”ç½‘,åŒ»ç–—ä¸¨å¥åº·
6849100                    å•†ä¸šæ•°æ®åˆ†æ      72076   500-2000äºº      ç§»åŠ¨äº’è”ç½‘,ç”µå•†
6803432           å¥”é©°Â·è€€å‡ºè¡Œ-BIæ•°æ®åˆ†æä¸“å®¶     751158    150-500äºº         ç§»åŠ¨äº’è”ç½‘
6704835                   BIæ•°æ®åˆ†æå¸ˆ      52840     2000äººä»¥ä¸Š            ç”µå•†
6728058     æ•°æ®åˆ†æä¸“å®¶-LQ(J181203029)       2474     2000äººä»¥ä¸Š         æ±½è½¦ä¸¨å‡ºè¡Œ

           financeStage                   companyLabelList  firstType  \
positionId
6802721              Aè½®   ['ç»©æ•ˆå¥–é‡‘', 'å¸¦è–ªå¹´å‡', 'å®šæœŸä½“æ£€', 'å¼¹æ€§å·¥ä½œ']  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»
5204912              Bè½®   ['å¹´ç»ˆå¥–é‡‘', 'åšäº”ä¼‘äºŒ', 'å…­é™©ä¸€é‡‘', 'å­å¥³ç¦åˆ©']  å¼€å‘|æµ‹è¯•|è¿ç»´ç±»
6877668            ä¸Šå¸‚å…¬å¸   ['èŠ‚æ—¥ç¤¼ç‰©', 'å¹´åº•åŒè–ª', 'è‚¡ç¥¨æœŸæƒ', 'å¸¦è–ªå¹´å‡']  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»
6496141           Dè½®åŠä»¥ä¸Š  ['ç”Ÿæ—¥è¶´', 'æ¯æœˆè…è´¥åŸºé‡‘', 'æ¯æœˆè¡¥è´´', 'å¹´åº¦æ—…æ¸¸']  å¼€å‘|æµ‹è¯•|è¿ç»´ç±»
6467417            ä¸Šå¸‚å…¬å¸   ['æŠ€èƒ½åŸ¹è®­', 'å…è´¹ç­è½¦', 'ä¸“é¡¹å¥–é‡‘', 'å²—ä½æ™‹å‡']  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»
...                 ...                                ...        ...
6884346              Cè½®   ['æŠ€èƒ½åŸ¹è®­', 'å¹´åº•åŒè–ª', 'èŠ‚æ—¥ç¤¼ç‰©', 'ç»©æ•ˆå¥–é‡‘']  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»
6849100              Cè½®   ['èŠ‚æ—¥ç¤¼ç‰©', 'è‚¡ç¥¨æœŸæƒ', 'å¸¦è–ªå¹´å‡', 'å¹´åº¦æ—…æ¸¸']     å¸‚åœº|å•†åŠ¡ç±»
6803432           ä¸éœ€è¦èèµ„                                 []  å¼€å‘|æµ‹è¯•|è¿ç»´ç±»
6704835            ä¸Šå¸‚å…¬å¸   ['æŠ€èƒ½åŸ¹è®­', 'å¹´åº•åŒè–ª', 'èŠ‚æ—¥ç¤¼ç‰©', 'ç»©æ•ˆå¥–é‡‘']  å¼€å‘|æµ‹è¯•|è¿ç»´ç±»
6728058           ä¸éœ€è¦èèµ„   ['å¼¹æ€§å·¥ä½œ', 'èŠ‚æ—¥ç¤¼ç‰©', 'å²—ä½æ™‹å‡', 'æŠ€èƒ½åŸ¹è®­']  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»

           secondType thirdType                     skillLables  ... plus  \
positionId                                                       ...
6802721          æ•°æ®åˆ†æ      æ•°æ®åˆ†æ    ['SQL', 'æ•°æ®åº“', 'æ•°æ®è¿è¥', 'BI']  ...  NaN
5204912          æ•°æ®å¼€å‘        å»ºæ¨¡                  ['ç®—æ³•', 'æ•°æ®æ¶æ„']  ...  NaN
6877668          æ•°æ®åˆ†æ      æ•°æ®åˆ†æ          ['æ•°æ®åº“', 'æ•°æ®åˆ†æ', 'SQL']  ...  NaN
6496141          æ•°æ®å¼€å‘      æ•°æ®åˆ†æ                              []  ...  NaN
6467417          æ•°æ®åˆ†æ      æ•°æ®åˆ†æ          ['BI', 'æ•°æ®åˆ†æ', 'æ•°æ®è¿è¥']  ...  NaN
...               ...       ...                             ...  ...  ...
6884346          æ•°æ®åˆ†æ      æ•°æ®åˆ†æ    ['æ•°æ®åº“', 'å•†ä¸š', 'æ•°æ®åˆ†æ', 'SQL']  ...  NaN
6849100         å¸‚åœº|è¥é”€    å•†ä¸šæ•°æ®åˆ†æ  ['å¸‚åœº', 'æ•°æ®åˆ†æ', 'è¡Œä¸šåˆ†æ', 'å¸‚åœºåˆ†æ']  ...  NaN
6803432          æ•°æ®å¼€å‘      æ•°æ®åˆ†æ       ['MySQL', 'æ•°æ®å¤„ç†', 'æ•°æ®åˆ†æ']  ...  NaN
6704835          æ•°æ®å¼€å‘      æ•°æ®åˆ†æ           ['SQLServer', 'æ•°æ®åˆ†æ']  ...  NaN
6728058          æ•°æ®åˆ†æ    å…¶ä»–æ•°æ®åˆ†æ                              []  ...  NaN

           pcShow appShow deliver gradeDescription promotionScoreExplain  \
positionId
6802721         0       0       0              NaN                   NaN
5204912         0       0       0              NaN                   NaN
6877668         0       0       0              NaN                   NaN
6496141         0       0       0              NaN                   NaN
6467417         0       0       0              NaN                   NaN
...           ...     ...     ...              ...                   ...
6884346         0       0       0              NaN                   NaN
6849100         0       0       0              NaN                   NaN
6803432         0       0       0              NaN                   NaN
6704835         0       0       0              NaN                   NaN
6728058         0       0       0              NaN                   NaN

            isHotHire count aggregatePositionIds famousCompany
positionId
6802721             0     0                   []         False
5204912             0     0                   []         False
6877668             0     0                   []         False
6496141             0     0                   []          True
6467417             0     0                   []          True
...               ...   ...                  ...           ...
6884346             0     0                   []         False
6849100             0     0                   []         False
6803432             0     0                   []         False
6704835             0     0                   []          True
6728058             0     0                   []          True

[105 rows x 51 columns]>

###  10 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šæ ‡é¢˜

<br>


è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶çš„ `positionIdã€positionNameã€salary` åˆ—ï¼Œå¹¶å°†æ ‡é¢˜è®¾ç½®ä¸º `IDã€å²—ä½åç§°ã€è–ªèµ„`

In [24]:
data = pd.read_csv("æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv", usecols=["positionId","positionName","salary"])
data = data.rename(columns={
    'positionId':"Id",
    'positionName': "å²—ä½",
    'salary' : "è–ªèµ„"
})
data.head

<bound method NDFrame.head of           Id                     å²—ä½     è–ªèµ„
0    6802721                   æ•°æ®åˆ†æ  37500
1    5204912                   æ•°æ®å»ºæ¨¡  15000
2    6877668                   æ•°æ®åˆ†æ   3500
3    6496141                   æ•°æ®åˆ†æ  45000
4    6467417                   æ•°æ®åˆ†æ  30000
..       ...                    ...    ...
100  6884346                  æ•°æ®åˆ†æå¸ˆ  25000
101  6849100                 å•†ä¸šæ•°æ®åˆ†æ  35000
102  6803432        å¥”é©°Â·è€€å‡ºè¡Œ-BIæ•°æ®åˆ†æä¸“å®¶  30000
103  6704835                BIæ•°æ®åˆ†æå¸ˆ  20000
104  6728058  æ•°æ®åˆ†æä¸“å®¶-LQ(J181203029)  21500

[105 rows x 3 columns]>

###  11 è¯»å– Excel æ–‡ä»¶ï½œç¼ºå¤±å€¼è½¬æ¢

<br>


è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œ**å¹¶ä¸å°†ç¼ºå¤±å€¼æ ‡è®°ä¸º `NA`**

æ€è€ƒï¼šä¸ºä»€ä¹ˆè¦è¿™æ ·åšï¼Ÿ

In [47]:
data = pd.read_csv("æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv", keep_default_na=False)
data.isnull().sum()

positionId               0
positionName             0
companyId                0
companySize              0
industryField            0
financeStage             0
companyLabelList         0
firstType                0
secondType               0
thirdType                0
skillLables              0
positionLables           0
industryLables           0
createTime               0
formatCreateTime         0
district                 0
businessZones            0
salary                   0
workYear                 0
jobNature                0
education                0
positionAdvantage        0
imState                  0
lastLogin                0
publisherId              0
approve                  0
subwayline               0
stationname              0
linestaion               0
latitude                 0
longitude                0
hitags                   0
resumeProcessRate        0
resumeProcessDay         0
score                    0
newScore                 0
matchScore               0
matchScoreExplain        0
query                    0
explain                  0
isSchoolJob              0
adWord                   0
plus                     0
pcShow                   0
appShow                  0
deliver                  0
gradeDescription         0
promotionScoreExplain    0
isHotHire                0
count                    0
aggregatePositionIds     0
famousCompany            0
dtype: int64

###  12 è¯»å– Excel æ–‡ä»¶ï½œç¼ºå¤±å€¼æ ‡è®°

<br>


è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œ**å¹¶å°†`[]`æ ‡è®°ä¸ºç¼ºå¤±å€¼**

In [46]:
data = pd.read_csv("æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv", na_values='[]', keep_default_na=True)
data.isnull().sum()

positionId                 0
positionName               0
companyId                  0
companySize                0
industryField              0
financeStage               0
companyLabelList          10
firstType                  0
secondType                 0
thirdType                  0
skillLables               13
positionLables             2
industryLables            49
createTime                 0
formatCreateTime           0
district                   0
businessZones             52
salary                     0
workYear                   0
jobNature                  0
education                  0
positionAdvantage          0
imState                    0
lastLogin                  0
publisherId                0
approve                    0
subwayline                60
stationname               60
linestaion                60
latitude                   0
longitude                  0
hitags                   103
resumeProcessRate          0
resumeProcessDay           0
score                      0
newScore                   0
matchScore                 0
matchScoreExplain        105
query                    105
explain                  105
isSchoolJob                0
adWord                     0
plus                     105
pcShow                     0
appShow                    0
deliver                    0
gradeDescription         105
promotionScoreExplain    105
isHotHire                  0
count                      0
aggregatePositionIds     105
famousCompany              0
dtype: int64

### 13 è¯»å– Excel æ–‡ä»¶ï½œå¿½ç•¥ç¼ºå¤±å€¼

<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œ**ä½†ä¸å¤„ç†ç¼ºå¤±å€¼**

æ€è€ƒï¼šå’Œä¹‹å‰çš„æœ‰ä»€ä¹ˆä¸åŒï¼Œä¸ºä»€ä¹ˆè¿™ä¹ˆåšï¼Ÿ

In [48]:
data = pd.read_csv("æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv")
data.isnull().sum()

positionId                 0
positionName               0
companyId                  0
companySize                0
industryField              0
financeStage               0
companyLabelList           0
firstType                  0
secondType                 0
thirdType                  0
skillLables                0
positionLables             0
industryLables             0
createTime                 0
formatCreateTime           0
district                   0
businessZones             52
salary                     0
workYear                   0
jobNature                  0
education                  0
positionAdvantage          0
imState                    0
lastLogin                  0
publisherId                0
approve                    0
subwayline                60
stationname               60
linestaion                60
latitude                   0
longitude                  0
hitags                   103
resumeProcessRate          0
resumeProcessDay           0
score                      0
newScore                   0
matchScore                 0
matchScoreExplain        105
query                    105
explain                  105
isSchoolJob                0
adWord                     0
plus                     105
pcShow                     0
appShow                    0
deliver                    0
gradeDescription         105
promotionScoreExplain    105
isHotHire                  0
count                      0
aggregatePositionIds       0
famousCompany              0
dtype: int64

### 14 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šæ ¼å¼

<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œå¹¶å°† `positionId,companyId` è®¾ç½®ä¸ºå­—ç¬¦ä¸²æ ¼å¼

In [53]:
data = pd.read_csv("æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv", converters= {
    'positionId': str,
    'companyId': str
})
print(data.dtypes)
data.head()

positionId                object
positionName              object
companyId                 object
companySize               object
industryField             object
financeStage              object
companyLabelList          object
firstType                 object
secondType                object
thirdType                 object
skillLables               object
positionLables            object
industryLables            object
createTime                object
formatCreateTime          object
district                  object
businessZones             object
salary                     int64
workYear                  object
jobNature                 object
education                 object
positionAdvantage         object
imState                   object
lastLogin                 object
publisherId                int64
approve                    int64
subwayline                object
stationname               object
linestaion                object
latitude                 float64
longitude                float64
hitags                    object
resumeProcessRate          int64
resumeProcessDay           int64
score                      int64
newScore                   int64
matchScore               float64
matchScoreExplain        float64
query                    float64
explain                  float64
isSchoolJob                int64
adWord                     int64
plus                     float64
pcShow                     int64
appShow                    int64
deliver                    int64
gradeDescription         float64
promotionScoreExplain    float64
isHotHire                  int64
count                      int64
aggregatePositionIds      object
famousCompany               bool
dtype: object

,positionId,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,...,plus,pcShow,appShow,deliver,gradeDescription,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
0,6802721,æ•°æ®åˆ†æ,475770,50-150äºº,"ç§»åŠ¨äº’è”ç½‘,ç”µå•†",Aè½®,"['ç»©æ•ˆå¥–é‡‘', 'å¸¦è–ªå¹´å‡', 'å®šæœŸä½“æ£€', 'å¼¹æ€§å·¥ä½œ']",äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],False
1,5204912,æ•°æ®å»ºæ¨¡,50735,150-500äºº,ç”µå•†,Bè½®,"['å¹´ç»ˆå¥–é‡‘', 'åšäº”ä¼‘äºŒ', 'å…­é™©ä¸€é‡‘', 'å­å¥³ç¦åˆ©']",å¼€å‘|æµ‹è¯•|è¿ç»´ç±»,æ•°æ®å¼€å‘,å»ºæ¨¡,...,NaN,0,0,0,NaN,NaN,0,0,[],False
2,6877668,æ•°æ®åˆ†æ,100125,2000äººä»¥ä¸Š,"ç§»åŠ¨äº’è”ç½‘,ä¼ä¸šæœåŠ¡",ä¸Šå¸‚å…¬å¸,"['èŠ‚æ—¥ç¤¼ç‰©', 'å¹´åº•åŒè–ª', 'è‚¡ç¥¨æœŸæƒ', 'å¸¦è–ªå¹´å‡']",äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],False
3,6496141,æ•°æ®åˆ†æ,26564,500-2000äºº,ç”µå•†,Dè½®åŠä»¥ä¸Š,"['ç”Ÿæ—¥è¶´', 'æ¯æœˆè…è´¥åŸºé‡‘', 'æ¯æœˆè¡¥è´´', 'å¹´åº¦æ—…æ¸¸']",å¼€å‘|æµ‹è¯•|è¿ç»´ç±»,æ•°æ®å¼€å‘,æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],True
4,6467417,æ•°æ®åˆ†æ,29211,2000äººä»¥ä¸Š,ç‰©æµä¸¨è¿è¾“,ä¸Šå¸‚å…¬å¸,"['æŠ€èƒ½åŸ¹è®­', 'å…è´¹ç­è½¦', 'ä¸“é¡¹å¥–é‡‘', 'å²—ä½æ™‹å‡']",äº§å“|éœ€æ±‚|é¡¹ç›®ç±»,æ•°æ®åˆ†æ,æ•°æ®åˆ†æ,...,NaN,0,0,0,NaN,NaN,0,0,[],True

### 15 è¯»å– Excel æ–‡ä»¶ï½œæŒ‡å®šæ ¼å¼ï¼ˆæ—¶é—´ï¼‰

<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œå¹¶å°† `createTime` åˆ—è®¾ç½®ä¸ºå­—ç¬¦ä¸²æ ¼å¼

In [57]:
data = pd.read_csv("æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv", converters= {
    'createTime': str
})
print(data.dtypes)
data.head()

object

0    2020/3/16 11:00
1    2020/3/16 11:08
2    2020/3/16 10:33
3    2020/3/16 10:10
4     2020/3/16 9:56
Name: createTime, dtype: object

### 16 è¯»å– Excel æ–‡ä»¶ï½œåˆ†å—è¯»å–


<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv` æ–‡ä»¶ï¼Œè¦æ±‚è¿”å›ä¸€ä¸ªå¯è¿­ä»£å¯¹è±¡ï¼Œæ¯æ¬¡è¯»å– 10 è¡Œ

æ€è€ƒï¼šä¸ºä»€ä¹ˆè¿™æ ·åšï¼Ÿ

In [63]:
data = pd.read_csv("æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv", chunksize=10)
for chunk in data:
    print(chunk)

'å¸¦è–ªå¹´å‡', 'å®šæœŸä½“æ£€']  å¼€å‘|æµ‹è¯•|è¿ç»´ç±»       æ•°æ®å¼€å‘      æ•°æ®åˆ†æ  ...
48    ['åˆé¤è¡¥åŠ©', 'å¸¦è–ªå¹´å‡', 'å®šæœŸä½“æ£€', 'å¹´åº¦æ—…æ¸¸']  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»       æ•°æ®åˆ†æ      æ•°æ®åˆ†æ  ...
49      ['æŠ€èƒ½åŸ¹è®­', 'Geek', 'å¼€æ”¾', 'æ‰å¹³ç®¡ç†']  ç»¼åˆèŒèƒ½|é«˜çº§ç®¡ç†         è´¢åŠ¡        è´¢åŠ¡  ...

   plus pcShow appShow deliver gradeDescription promotionScoreExplain  \
40  NaN      0       0       0              NaN                   NaN
41  NaN      0       0       0              NaN                   NaN
42  NaN      0       0       0              NaN                   NaN
43  NaN      0       0       0              NaN                   NaN
44  NaN      0       0       0              NaN                   NaN
45  NaN      0       0       0              NaN                   NaN
46  NaN      0       0       0              NaN                   NaN
47  NaN      0       0       0              NaN                   NaN
48  NaN      0       0       0              NaN                   NaN
49  NaN      0       0       0              NaN                   NaN

   isHotHire  count aggregatePositionIds famousCompany
40         0      0                   []         False
41         0      0                   []         False
42         0      0                   []         False
43         0      0                   []         False
44         0      0                   []         False
45         0      0                   []          True
46         0      0                   []         False
47         0      0                   []         False
48         0      0                   []         False
49         0      0                   []          True

[10 rows x 52 columns]
    positionId        positionName  companyId companySize industryField  \
50     6680900    æ•°æ®åˆ†æå¸ˆ (MJ000250)     114335    150-500äºº          æ•°æ®æœåŠ¡
51     6191993     æ•°æ®åˆ†æä¸“å®¶03-10-217      18655     2000äººä»¥ä¸Š         æ±½è½¦ä¸¨å‡ºè¡Œ
52     6486069        è§£å†³æ–¹æ¡ˆé¡¾é—®/æ•°æ®åˆ†æå¸ˆ     166666    150-500äºº     ä¼ä¸šæœåŠ¡,æ•°æ®æœåŠ¡
53     6814233               æ•°æ®åˆ†æå¸ˆ     619746     2000äººä»¥ä¸Š            æ•™è‚²
54     6046775              æ•°æ®åˆ†æä¸“å®¶     133429     50-150äºº    ç§»åŠ¨äº’è”ç½‘,æ¶ˆè´¹ç”Ÿæ´»
55     6791055             é«˜çº§æ•°æ®åˆ†æå¸ˆ     432882    150-500äºº         ç§»åŠ¨äº’è”ç½‘
56     6037742  èµ„æ·±æ•°æ®åˆ†æå¸ˆ (MJ000088)     127233    150-500äºº          ç”µå­å•†åŠ¡
57     6872125               æ•°æ®åˆ†æå¸ˆ     172552   500-2000äºº          æ¶ˆè´¹ç”Ÿæ´»
58     5921220             è´¢åŠ¡æ•°æ®åˆ†æå¸ˆ     137388    150-500äºº      ç§»åŠ¨äº’è”ç½‘,ç”µå•†
59     5453691             æ•°æ®åˆ†æå®ä¹ ç”Ÿ     166666    150-500äºº     ä¼ä¸šæœåŠ¡,æ•°æ®æœåŠ¡

   financeStage                    companyLabelList  firstType secondType  \
50           Bè½®     ['è‚¡ç¥¨æœŸæƒ', 'å¼¹æ€§å·¥ä½œ', 'é¢†å¯¼å¥½', 'äº”é™©ä¸€é‡‘']  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»       äº§å“ç»ç†
51        Dè½®åŠä»¥ä¸Š      ['æŠ€èƒ½åŸ¹è®­', 'Geek', 'å¼€æ”¾', 'æ‰å¹³ç®¡ç†']  å¼€å‘|æµ‹è¯•|è¿ç»´ç±»       æ•°æ®å¼€å‘
52           Bè½®    ['è‚¡ç¥¨æœŸæƒ', 'ç»©æ•ˆå¥–é‡‘', 'å¸¦è–ªå¹´å‡', 'å¼¹æ€§å·¥ä½œ']  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»       æ•°æ®åˆ†æ
53         ä¸Šå¸‚å…¬å¸    ['ç»©æ•ˆå¥–é‡‘', 'å®šæœŸä½“æ£€', 'æä¾›å®¿èˆ', 'ç®¡ç†è§„èŒƒ']  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»       æ•°æ®åˆ†æ
54          æœªèèµ„     ['å¹´åº•åŒè–ª', 'ä¸“é¡¹å¥–é‡‘', 'ç¾å¥³å¤š', 'å¼¹æ€§å·¥ä½œ']  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»     é«˜ç«¯äº§å“èŒä½
55        ä¸éœ€è¦èèµ„  ['æŠ€æœ¯å¤§ç‰›', 'é¢†å¯¼nice', 'å¸…å“¥ç¾å¥³', 'ç¯å¢ƒè¶…æ£’']  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»       æ•°æ®åˆ†æ
56        ä¸éœ€è¦èèµ„    ['å¸¦è–ªå¹´å‡', 'ç»©æ•ˆå¥–é‡‘', 'å®šæœŸä½“æ£€', 'å¼¹æ€§å·¥ä½œ']  å¼€å‘|æµ‹è¯•|è¿ç»´ç±»       æ•°æ®å¼€å‘
57        ä¸éœ€è¦èèµ„                                  []  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»       æ•°æ®åˆ†æ
58        ä¸éœ€è¦èèµ„    ['å¹´ç»ˆåˆ†çº¢', 'ç»©æ•ˆå¥–é‡‘', 'å®šæœŸä½“æ£€', 'å¹´åº•åŒè–ª']  ç»¼åˆèŒèƒ½|é«˜çº§ç®¡ç†         è´¢åŠ¡
59           Bè½®    ['è‚¡ç¥¨æœŸæƒ', 'ç»©æ•ˆå¥–é‡‘', 'å¸¦è–ªå¹´å‡', 'å¼¹æ€§å·¥ä½œ']  å¼€å‘|æµ‹è¯•|è¿ç»´ç±»       æ•°æ®å¼€å‘

   thirdType  ... plus pcShow appShow deliver gradeDescription  \
50     æ•°æ®åˆ†æå¸ˆ  ...  NaN      0       0       0              NaN
51      æ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN
52      æ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN
53      æ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN
54    æ•°æ®åˆ†æä¸“å®¶  ...  NaN      0       0       0              NaN
55      æ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN
56      æ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN
57      æ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN
58      è´¢åŠ¡é£æ§  ...  NaN      0       0       0              NaN
59      æ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN

   promotionScoreExplain isHotHire  count aggregatePositionIds famousCompany
50                   NaN         0      0                   []         False
51                   NaN         0      0                   []          True
52                   NaN         0      0                   []         False
53                   NaN         0      0                   []         False
54                   NaN         0      0                   []         False
55                   NaN         0      0                   []         False
56                   NaN         0      0                   []         False
57                   NaN         0      0                   []         False
58                   NaN         0      0                   []         False
59                   NaN         0      0                   []         False

[10 rows x 52 columns]
    positionId         positionName  companyId companySize industryField  \
60     5978750    æ•°æ®åˆ†æå¸ˆï¼ˆä¿é™©ï¼‰13-01-19      18655     2000äººä»¥ä¸Š         æ±½è½¦ä¸¨å‡ºè¡Œ
61     5990647            é«˜çº§è´¢åŠ¡æ•°æ®åˆ†æå¸ˆ      18655     2000äººä»¥ä¸Š         æ±½è½¦ä¸¨å‡ºè¡Œ
62     6191993      æ•°æ®åˆ†æä¸“å®¶03-10-217      18655     2000äººä»¥ä¸Š         æ±½è½¦ä¸¨å‡ºè¡Œ
63     6680900     æ•°æ®åˆ†æå¸ˆ (MJ000250)     114335    150-500äºº          æ•°æ®æœåŠ¡
64     6789831              æ•°æ®åˆ†æå®ä¹ ç”Ÿ     306282    150-500äºº    ç§»åŠ¨äº’è”ç½‘,æ•°æ®æœåŠ¡
65     6486069         è§£å†³æ–¹æ¡ˆé¡¾é—®/æ•°æ®åˆ†æå¸ˆ     166666    150-500äºº     ä¼ä¸šæœåŠ¡,æ•°æ®æœåŠ¡
66     6848382  èµ„æ·±æ•°æ®åˆ†æå¸ˆï¼ˆå•†å“æ–¹å‘ï¼‰G01053     179243   500-2000äºº      ç”µå•†,ç§»åŠ¨äº’è”ç½‘
67     5203054              èµ„æ·±æ•°æ®åˆ†æå¸ˆ        329     2000äººä»¥ä¸Š            ç”µå•†
68     6829736     æ•°æ®åˆ†æè´Ÿè´£äºº or æ•°æ®åˆ†æå¸ˆ     205347     2000äººä»¥ä¸Š         é‡‘è,ç”µå•†
69     6116460  èµ„æ·±æ•°æ®åˆ†æ/æ•°æ®åˆ†æä¸“å®¶G00796     179243   500-2000äºº      ç”µå•†,ç§»åŠ¨äº’è”ç½‘

   financeStage                  companyLabelList  firstType secondType  \
60        Dè½®åŠä»¥ä¸Š    ['æŠ€èƒ½åŸ¹è®­', 'Geek', 'å¼€æ”¾', 'æ‰å¹³ç®¡ç†']  å¼€å‘|æµ‹è¯•|è¿ç»´ç±»       æ•°æ®å¼€å‘
61        Dè½®åŠä»¥ä¸Š    ['æŠ€èƒ½åŸ¹è®­', 'Geek', 'å¼€æ”¾', 'æ‰å¹³ç®¡ç†']  ç»¼åˆèŒèƒ½|é«˜çº§ç®¡ç†         è´¢åŠ¡
62        Dè½®åŠä»¥ä¸Š    ['æŠ€èƒ½åŸ¹è®­', 'Geek', 'å¼€æ”¾', 'æ‰å¹³ç®¡ç†']  å¼€å‘|æµ‹è¯•|è¿ç»´ç±»       æ•°æ®å¼€å‘
63           Bè½®   ['è‚¡ç¥¨æœŸæƒ', 'å¼¹æ€§å·¥ä½œ', 'é¢†å¯¼å¥½', 'äº”é™©ä¸€é‡‘']  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»       äº§å“ç»ç†
64          æœªèèµ„  ['å¼¹æ€§å·¥ä½œ', 'æŠ€èƒ½åŸ¹è®­', 'å²—ä½æ™‹å‡', 'äº”é™©ä¸€é‡‘']  å¼€å‘|æµ‹è¯•|è¿ç»´ç±»       æ•°æ®å¼€å‘
65           Bè½®  ['è‚¡ç¥¨æœŸæƒ', 'ç»©æ•ˆå¥–é‡‘', 'å¸¦è–ªå¹´å‡', 'å¼¹æ€§å·¥ä½œ']  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»       æ•°æ®åˆ†æ
66         ä¸Šå¸‚å…¬å¸  ['ç»©æ•ˆå¥–é‡‘', 'è‚¡ç¥¨æœŸæƒ', 'äº”é™©ä¸€é‡‘', 'åˆé¤è¡¥åŠ©']  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»       æ•°æ®åˆ†æ
67         ä¸Šå¸‚å…¬å¸  ['èŠ‚æ—¥ç¤¼ç‰©', 'æŠ€èƒ½åŸ¹è®­', 'å…è´¹ç­è½¦', 'å¸¦è–ªå¹´å‡']  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»       æ•°æ®åˆ†æ
68         ä¸Šå¸‚å…¬å¸   ['å¸¦è–ªå¹´å‡', 'å®šæœŸä½“æ£€', 'å…è´¹ç­è½¦', 'é¢†å¯¼å¥½']  å¼€å‘|æµ‹è¯•|è¿ç»´ç±»       æ•°æ®å¼€å‘
69         ä¸Šå¸‚å…¬å¸  ['ç»©æ•ˆå¥–é‡‘', 'è‚¡ç¥¨æœŸæƒ', 'äº”é™©ä¸€é‡‘', 'åˆé¤è¡¥åŠ©']  å¼€å‘|æµ‹è¯•|è¿ç»´ç±»       æ•°æ®å¼€å‘

   thirdType  ... plus pcShow appShow deliver gradeDescription  \
60      æ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN
61        è´¢åŠ¡  ...  NaN      0       0       0              NaN
62      æ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN
63     æ•°æ®åˆ†æå¸ˆ  ...  NaN      0       0       0              NaN
64      æ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN
65      æ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN
66      æ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN
67      æ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN
68      æ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN
69      æ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN

   promotionScoreExplain isHotHire  count aggregatePositionIds famousCompany
60                   NaN         0      0                   []          True
61                   NaN         0      0                   []          True
62                   NaN         0      0                   []          True
63                   NaN         0      0                   []         False
64                   NaN         0      0                   []         False
65                   NaN         0      0                   []         False
66                   NaN         0      0                   []          True
67                   NaN         0      0                   []          True
68                   NaN         0      0                   []          True
69                   NaN         0      0                   []          True

[10 rows x 52 columns]
    positionId        positionName  companyId companySize industryField  \
70     6728610            é«˜çº§æ•°æ®åˆ†æä¸“å‘˜      98316     2000äººä»¥ä¸Š       ç”µå•†,æ¶ˆè´¹ç”Ÿæ´»
71     6793844             BIæ•°æ®åˆ†æå¸ˆ     555182     50-150äºº      ç§»åŠ¨äº’è”ç½‘,ç”µå•†
72     6794326             BIæ•°æ®åˆ†æå¸ˆ     374014   500-2000äºº      ç§»åŠ¨äº’è”ç½‘,é‡‘è
73     6819289               æ•°æ®åˆ†æå¸ˆ      28103     2000äººä»¥ä¸Š       æ¶ˆè´¹ç”Ÿæ´»,ç¡¬ä»¶
74     6837340        æ•°æ®åˆ†æ-2020å±Šæ˜¥æ‹›     205347     2000äººä»¥ä¸Š         é‡‘è,ç”µå•†
75     6698172               æ•°æ®åˆ†æå¸ˆ       2900   500-2000äºº            ç”µå•†
76     6896403        æ™ºèƒ½æ•°æ®åˆ†æå¼•æ“ç ”å‘ä¸“å®¶     285786     2000äººä»¥ä¸Š            ç”µå•†
77     6854920       æ•°æ®åˆ†æå¸ˆ(J10147)     343064     2000äººä»¥ä¸Š            ç”µå•†
78     5683671  æ•°æ®åˆ†æå®ä¹ ç”Ÿ (MJ000087)     114335    150-500äºº          æ•°æ®æœåŠ¡
79     6046866               æ•°æ®åˆ†æå¸ˆ     543802      15-50äºº          æ•°æ®æœåŠ¡

   financeStage                    companyLabelList  firstType secondType  \
70         ä¸Šå¸‚å…¬å¸    ['åˆé¤è¡¥åŠ©', 'å¸¦è–ªå¹´å‡', 'å®šæœŸä½“æ£€', 'å¹´åº¦æ—…æ¸¸']     å¸‚åœº|å•†åŠ¡ç±»      å¸‚åœº|è¥é”€
71          å¤©ä½¿è½®                                  []  è¿è¥|ç¼–è¾‘|å®¢æœç±»         è¿è¥
72           Bè½®     ['å¼¹æ€§å·¥ä½œ', 'æ‰å¹³ç®¡ç†', 'é¢†å¯¼å¥½', 'äº”é™©ä¸€é‡‘']  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»       æ•°æ®åˆ†æ
73         ä¸Šå¸‚å…¬å¸  ['å®šæœŸä½“æ£€', 'äº”é™©ä¸€é‡‘', 'ä¸“é¡¹å¥–é‡‘', 'éª¨å¹²å®¶åº­å…¬å¯“']  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»       æ•°æ®åˆ†æ
74         ä¸Šå¸‚å…¬å¸     ['å¸¦è–ªå¹´å‡', 'å®šæœŸä½“æ£€', 'å…è´¹ç­è½¦', 'é¢†å¯¼å¥½']  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»       æ•°æ®åˆ†æ
75           Cè½®    ['æ‰å¹³åŒ–ç®¡ç†', 'æŠ€æœ¯é©±åŠ¨', '14è–ª', 'å…­é™©ä¸€é‡‘']  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»       æ•°æ®åˆ†æ
76         ä¸Šå¸‚å…¬å¸    ['å¹´åº•åŒè–ª', 'å¸¦è–ªå¹´å‡', 'åˆé¤è¡¥åŠ©', 'å¼¹æ€§å·¥ä½œ']  å¼€å‘|æµ‹è¯•|è¿ç»´ç±»       åç«¯å¼€å‘
77        ä¸éœ€è¦èèµ„    ['ç»©æ•ˆå¥–é‡‘', 'äº¤é€šè¡¥åŠ©', 'å¸¦è–ªå¹´å‡', 'å®šæœŸä½“æ£€']  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»       äº§å“ç»ç†
78           Bè½®     ['è‚¡ç¥¨æœŸæƒ', 'å¼¹æ€§å·¥ä½œ', 'é¢†å¯¼å¥½', 'äº”é™©ä¸€é‡‘']  å¼€å‘|æµ‹è¯•|è¿ç»´ç±»       åç«¯å¼€å‘
79        ä¸éœ€è¦èèµ„                                  []  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»       æ•°æ®åˆ†æ

   thirdType  ... plus pcShow appShow deliver gradeDescription  \
70    å•†ä¸šæ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN
71        è¿è¥  ...  NaN      0       0       0              NaN
72        BI  ...  NaN      0       0       0              NaN
73      æ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN
74      æ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN
75      æ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN
76      Java  ...  NaN      0       0       0              NaN
77     æ•°æ®åˆ†æå¸ˆ  ...  NaN      0       0       0              NaN
78      æ•°æ®é‡‡é›†  ...  NaN      0       0       0              NaN
79      æ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN

   promotionScoreExplain isHotHire  count aggregatePositionIds famousCompany
70                   NaN         0      0                   []         False
71                   NaN         0      0                   []         False
72                   NaN         0      0                   []         False
73                   NaN         0      0                   []          True
74                   NaN         0      0                   []          True
75                   NaN         0      0                   []          True
76                   NaN         0      0                   []          True
77                   NaN         0      0                   []         False
78                   NaN         0      0                   []         False
79                   NaN         0      0                   []         False

[10 rows x 52 columns]
    positionId             positionName  companyId companySize industryField  \
80     6310387                 ä¸šåŠ¡ä¸æ•°æ®åˆ†æå¸ˆ      93448    150-500äºº     äººå·¥æ™ºèƒ½,æ•°æ®æœåŠ¡
81     6602399          å•†ä¸šæ•°æ®åˆ†æå¸ˆï¼ˆé˜¿é‡Œæ•°æ®é“¶è¡Œï¼‰     100858     50-150äºº    ç§»åŠ¨äº’è”ç½‘,å¹¿å‘Šè¥é”€
82     6820395  äº§å“ç»ç†/æ•°æ®åˆ†æï¼ˆæ ¸å¿ƒä¸šåŠ¡ï¼‰-2020å±Šæ˜¥æ‹›     205347     2000äººä»¥ä¸Š         é‡‘è,ç”µå•†
83     6872841                  èµ„æ·±æ•°æ®åˆ†æå¸ˆ        329     2000äººä»¥ä¸Š            ç”µå•†
84     6747553                  èµ„æ·±æ•°æ®åˆ†æå¸ˆ     581460     2000äººä»¥ä¸Š      ç”µå•†,æ±½è½¦ä¸¨å‡ºè¡Œ
85     6792091                  é«˜çº§æ•°æ®åˆ†æå¸ˆ      23252   500-2000äºº         ç§»åŠ¨äº’è”ç½‘
86     6496980               æ•°æ®åˆ†æå¸ˆ-Lark         62     2000äººä»¥ä¸Š         æ–‡å¨±ä¸¨å†…å®¹
87     6095231           æ•°æ®åˆ†æå¸ˆ-ä¼ä¸šSaaSåº”ç”¨         62     2000äººä»¥ä¸Š         æ–‡å¨±ä¸¨å†…å®¹
88     6597345                  èµ„æ·±æ•°æ®åˆ†æå¸ˆ      57350   500-2000äºº         ç§»åŠ¨äº’è”ç½‘
89     6655791                     æ•°æ®åˆ†æ     289890   500-2000äºº            å…¶ä»–

   financeStage                      companyLabelList  firstType secondType  \
80           Bè½®      ['æŠ€èƒ½åŸ¹è®­', 'è‚¡ç¥¨æœŸæƒ', 'å¸¦è–ªå¹´å‡', 'ç»©æ•ˆå¥–é‡‘']  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»       æ•°æ®åˆ†æ
81          å¤©ä½¿è½®      ['èŠ‚æ—¥ç¤¼ç‰©', 'å¸¦è–ªå¹´å‡', 'ç»©æ•ˆå¥–é‡‘', 'äº”é™©ä¸€é‡‘']     å¸‚åœº|å•†åŠ¡ç±»      å¸‚åœº|è¥é”€
82         ä¸Šå¸‚å…¬å¸       ['å¸¦è–ªå¹´å‡', 'å®šæœŸä½“æ£€', 'å…è´¹ç­è½¦', 'é¢†å¯¼å¥½']  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»       äº§å“ç»ç†
83         ä¸Šå¸‚å…¬å¸      ['èŠ‚æ—¥ç¤¼ç‰©', 'æŠ€èƒ½åŸ¹è®­', 'å…è´¹ç­è½¦', 'å¸¦è–ªå¹´å‡']  å¼€å‘|æµ‹è¯•|è¿ç»´ç±»       æ•°æ®å¼€å‘
84        Dè½®åŠä»¥ä¸Š       ['é˜¿é‡Œåˆèµ„', 'å…­é™©ä¸€é‡‘', 'ç‹¬è§’å…½', 'è¡Œä¸šå…ˆé©±']     å¸‚åœº|å•†åŠ¡ç±»      å¸‚åœº|è¥é”€
85         ä¸Šå¸‚å…¬å¸  ['åŒ…åˆé¤æ™šé¤', 'å¥–é‡‘å¤šå¤šå¤š', 'é›¶é£Ÿä¸‹åˆèŒ¶', 'å…¨å‘˜å‡ºå›½æ¸¸']  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»       æ•°æ®åˆ†æ
86           Cè½®  ['æ‰å¹³ç®¡ç†', 'å¼¹æ€§å·¥ä½œ', 'å¤§å¨å®šåˆ¶ä¸‰é¤', 'å°±è¿‘ç§Ÿæˆ¿è¡¥è´´']  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»       æ•°æ®åˆ†æ
87           Cè½®  ['æ‰å¹³ç®¡ç†', 'å¼¹æ€§å·¥ä½œ', 'å¤§å¨å®šåˆ¶ä¸‰é¤', 'å°±è¿‘ç§Ÿæˆ¿è¡¥è´´']  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»       æ•°æ®åˆ†æ
88           Aè½®      ['å²—ä½æ™‹å‡', 'å¹´åº¦æ—…æ¸¸', 'å¹´åº•åŒè–ª', 'åˆé¤è¡¥åŠ©']  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»       æ•°æ®åˆ†æ
89          æœªèèµ„                                    []  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»       æ•°æ®åˆ†æ

   thirdType  ... plus pcShow appShow deliver gradeDescription  \
80      æ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN
81    å•†ä¸šæ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN
82      äº§å“ç»ç†  ...  NaN      0       0       0              NaN
83      æ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN
84    å•†ä¸šæ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN
85      æ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN
86    å…¶ä»–æ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN
87    å…¶ä»–æ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN
88      æ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN
89      æ•°æ®åˆ†æ  ...  NaN      0       0       0              NaN

   promotionScoreExplain isHotHire  count aggregatePositionIds famousCompany
80                   NaN         0      0                   []         False
81                   NaN         0      0                   []         False
82                   NaN         0      0                   []          True
83                   NaN         0      0                   []          True
84                   NaN         0      0                   []         False
85                   NaN         0      0                   []         False
86                   NaN         0      0                   []          True
87                   NaN         0      0                   []          True
88                   NaN         0      0                   []         False
89                   NaN         0      0                   []         False

[10 rows x 52 columns]
    positionId   positionName  companyId companySize industryField  \
90     6456921         æ•°æ®åˆ†æä¸“å®¶     738016     50-150äºº       ç”µå•†,æ•°æ®æœåŠ¡
91     6888169  å¥”é©°è€€å‡ºè¡Œ-æˆ˜ç•¥æ•°æ®åˆ†æå¸ˆ     751158    150-500äºº         ç§»åŠ¨äº’è”ç½‘
92     6813626       èµ„æ·±æ•°æ®åˆ†æä¸“å‘˜     165939    150-500äºº          æ•°æ®æœåŠ¡
93     6785139          æ•°æ®åˆ†æå¸ˆ     665061     50-150äºº          ä¼ä¸šæœåŠ¡
94     6818950        èµ„æ·±æ•°æ®åˆ†æå¸ˆ     165939    150-500äºº          æ•°æ®æœåŠ¡
95     5269002        æ•°æ®å»ºæ¨¡å·¥ç¨‹å¸ˆ      50576    150-500äºº      ç§»åŠ¨äº’è”ç½‘,æ¸¸æˆ
96     6767669         æ•°æ®åˆ†æä¸“å‘˜      92417     2000äººä»¥ä¸Š    ç§»åŠ¨äº’è”ç½‘,å¹¿å‘Šè¥é”€
97     6718750   æ—…æ¸¸å¤§æ•°æ®åˆ†æå¸ˆï¼ˆæ­å·ï¼‰     122019     50-150äºº     æ•°æ®æœåŠ¡,ä¼ä¸šæœåŠ¡
98     6655562      æ•°æ®åˆ†æå»ºæ¨¡å·¥ç¨‹å¸ˆ  117422215     50-150äºº     æ•°æ®æœåŠ¡,ä¿¡æ¯å®‰å…¨
99     6677939  æ•°æ®åˆ†æå»ºæ¨¡å·¥ç¨‹å¸ˆï¼ˆæ ¡æ‹›ï¼‰  117422215     50-150äºº     æ•°æ®æœåŠ¡,ä¿¡æ¯å®‰å…¨

   financeStage                     companyLabelList  firstType secondType  \
90          æœªèèµ„                                   []  å¼€å‘|æµ‹è¯•|è¿ç»´ç±»       æ•°æ®å¼€å‘
91        ä¸éœ€è¦èèµ„                                   []  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»       æ•°æ®åˆ†æ
92        ä¸éœ€è¦èèµ„     ['å¹´åº•åŒè–ª', 'å¸¦è–ªå¹´å‡', 'åˆé¤è¡¥åŠ©', 'å®šæœŸä½“æ£€']  å¼€å‘|æµ‹è¯•|è¿ç»´ç±»       æ•°æ®å¼€å‘
93           Bè½®                                   []  å¼€å‘|æµ‹è¯•|è¿ç»´ç±»       æ•°æ®å¼€å‘
94        ä¸éœ€è¦èèµ„     ['å¹´åº•åŒè–ª', 'å¸¦è–ªå¹´å‡', 'åˆé¤è¡¥åŠ©', 'å®šæœŸä½“æ£€']  å¼€å‘|æµ‹è¯•|è¿ç»´ç±»       æ•°æ®å¼€å‘
95           Aè½®       ['å¸¦è–ªå¹´å‡', 'äº”é™©ä¸€é‡‘', 'åŒä¼‘', 'åˆé¤è¡¥åŠ©']  å¼€å‘|æµ‹è¯•|è¿ç»´ç±»       æ•°æ®å¼€å‘
96         ä¸Šå¸‚å…¬å¸     ['èŠ‚æ—¥ç¤¼ç‰©', 'è‚¡ç¥¨æœŸæƒ', 'å¸¦è–ªå¹´å‡', 'å²—ä½æ™‹å‡']  äº§å“|éœ€æ±‚|é¡¹ç›®ç±»       æ•°æ®åˆ†æ
97           Aè½®     ['å¹´åº•åŒè–ª', 'è‚¡ç¥¨æœŸæƒ', 'åˆé¤è¡¥åŠ©', 'å®šæœŸä½“æ£€']  å¼€å‘|æµ‹è¯•|è¿ç»´ç±»       æ•°æ®å¼€å‘
98           Aè½®  ['åˆé¤è¡¥åŠ©', 'å¸¦è–ªå¹´å‡', '16åˆ°18è–ª', 'æ³•å®šèŠ‚å‡æ—¥']  å¼€å‘|æµ‹è¯•|è¿ç»´ç±»       äººå·¥æ™ºèƒ½
99           Aè½®  ['åˆé¤è¡¥åŠ©', 'å¸¦è–ªå¹´å‡', '16åˆ°18è–ª', 'æ³•å®šèŠ‚å‡æ—¥']  å¼€å‘|æµ‹è¯•|è¿ç»´ç±»       äººå·¥æ™ºèƒ½

   thirdType  ... plus pcShow appShow deliver gradeDescription  \

In [61]:
data

### 17 è¯»å– txt æ–‡ä»¶ï½œå¸¸è§„

<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `Titanic.txt` æ–‡ä»¶ã€‚

æ³¨æ„ï¼šåœ¨æ¥ä¸‹æ¥çš„å‡ ç§æ ¼å¼æ–‡ä»¶è¯»å–ä¸­ï¼Œå¯¹äºä¹‹å‰é‡å¤çš„å‚æ•°/åŠŸèƒ½å°†ä¸å†æ•´ç†ï¼Œä»…ä»‹ç»è¯»å–åŠŸèƒ½ã€‚

In [65]:
data = pd.read_csv('Titanic.txt',header=None)
data.head(n=10)

                                                   0
0         version https://git-lfs.github.com/spec/v1
1  oid sha256:c5a58dbb3c71f7e6ea1593430e58b31b359...
2                                         size 28627

### 18 è¯»å– txt æ–‡ä»¶ï½œå«ä¸­æ–‡

<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `TOP250.txt` æ–‡ä»¶ã€‚

In [66]:
data = pd.read_csv('TOP250.txt',header=None)
data.head(n=10)

                                                   0
0         version https://git-lfs.github.com/spec/v1
1  oid sha256:fc07222d2c2b9525d9f0328b0a76beafa8a...
2                                         size 90329

### 19 è¯»å– JSON æ–‡ä»¶



<br>

è¯»å–å½“å‰ç›®å½•ä¸‹ `æŸåŸºé‡‘æ•°æ®.json` æ–‡ä»¶ã€‚

In [67]:
data = pd.read_json('æŸåŸºé‡‘æ•°æ®.json')
data.head(n=10)

         å‡€å€¼æ—¥æœŸ   å•ä½å‡€å€¼   ç´¯è®¡å‡€å€¼    æ—¥å¢é•¿ç‡  ç”³è´­çŠ¶æ€  èµå›çŠ¶æ€  åˆ†çº¢é€é…
0  2020-02-13  1.884  1.884  -0.11%  å¼€æ”¾ç”³è´­  å¼€æ”¾èµå›   NaN
1  2020-02-12  1.886  1.886   3.34%  å¼€æ”¾ç”³è´­  å¼€æ”¾èµå›   NaN
2  2020-02-11  1.825  1.825  -0.16%  å¼€æ”¾ç”³è´­  å¼€æ”¾èµå›   NaN
3  2020-02-10  1.828  1.828   1.33%  å¼€æ”¾ç”³è´­  å¼€æ”¾èµå›   NaN
4  2020-02-07  1.804  1.804   0.61%  å¼€æ”¾ç”³è´­  å¼€æ”¾èµå›   NaN
5  2020-02-06  1.793  1.793   3.11%  å¼€æ”¾ç”³è´­  å¼€æ”¾èµå›   NaN
6  2020-02-05  1.739  1.739   1.64%  å¼€æ”¾ç”³è´­  å¼€æ”¾èµå›   NaN
7  2020-02-04  1.711  1.711   7.34%  å¼€æ”¾ç”³è´­  å¼€æ”¾èµå›   NaN
8  2020-02-03  1.594  1.594  -7.22%  å¼€æ”¾ç”³è´­  å¼€æ”¾èµå›   NaN
9  2020-01-23  1.718  1.718  -2.05%  å¼€æ”¾ç”³è´­  å¼€æ”¾èµå›   NaN

### 20 è¯»å– HDF5 æ–‡ä»¶

<br>

`HDF5`æ˜¯ä¸€ç§ç‰¹æ®Šçš„æ–‡ä»¶æ ¼å¼ï¼Œå¸¸è§äºåœ¨å¤§è§„æ¨¡å­˜å‚¨æ•°æ®ä¸Š

å…³äº `pandas` ä¸ `hdf5` æ ¼å¼æ–‡ä»¶çš„æ“ä½œè¾ƒå¤šï¼Œä¸‹é¢ä»…å­¦ä¹ å¦‚ä½•è¯»å–ã€‚

è¯»å–å½“å‰ç›®å½•ä¸‹`store_tl.h5`æ–‡ä»¶

In [68]:
data = pd.read_hdf('store_tl.h5')
data.head()

ImportError: Missing optional dependency 'tables'.  Use pip or conda to install tables.

å¾®ä¿¡æœç´¢å…¬ä¼—å·ã€Œæ—©èµ·Pythonã€ï¼Œå…³æ³¨åå¯ä»¥è·å¾—æ›´å¤šèµ„æºï¼

### 21 ä»å‰ªè´´æ¿è¯»å–æ•°æ®

<br>

æ‰“å¼€å½“å‰ç›®å½•ä¸‹ `Titanic.txt` æ–‡ä»¶ï¼Œå…¨é€‰å¹¶å¤åˆ¶ã€‚

ç°åœ¨ç›´æ¥ä»å‰ªè´´æ¿è¯»å–æ•°æ®ã€‚

In [72]:
data = pd.read_clipboard(header=None)
data.head()

         0                                                  1
0  version                 https://git-lfs.github.com/spec/v1
1      oid  sha256:c5a58dbb3c71f7e6ea1593430e58b31b359d65c...
2     size                                              28627

### 22 ä» SQL è¯»å–æ•°æ®

<br>

æœ‰æ—¶æˆ‘ä»¬éœ€è¦ä» `SQL` ä¸­è¯»å–æ•°æ®ï¼Œå¦‚æœå…ˆå°†æ•°æ®å¯¼å‡ºå†`pandas`è¯»å–å¹¶ä¸æ˜¯ä¸€ä¸ªåˆé€‚çš„é€‰æ‹©ã€‚

åœ¨ `pandas` ä¸­æ”¯æŒç›´æ¥ä» `sql` ä¸­æŸ¥è¯¢å¹¶è¯»å–ã€‚

ä¸ºäº†æ–¹ä¾¿ç»Ÿä¸€æ“ä½œï¼Œè¯·å…ˆæ‰§è¡Œä¸‹é¢çš„ä»£ç åˆ›å»ºæ•°æ®ã€‚

In [4]:
from sqlite3 import connect
conn = connect(':memory:')
df = pd.DataFrame(data=[[0, '10/11/12'], [1, '12/11/10']],
                  columns=['int_column', 'date_column'])
df.to_sql('test_data', conn)

ä¸‹é¢å°† `SQL` è¯­å¥ `SELECT int_column, date_column FROM test_data` è½¬æ¢ä¸º `DataFrame`

In [78]:
data = pd.read_sql_query("select int_column, date_column FROM test_data", conn)
data.head()

   int_column date_column
0           0    10/11/12
1           1    12/11/10

### 23 ä»ç½‘é¡µè¯»å–æ•°æ®

<br>

ç›´æ¥ä»ä¸œäº¬å¥¥è¿ä¼šå®˜ç½‘è¯»å–å¥–ç‰Œæ¦œæ•°æ®ã€‚

ç›®æ ‡ç½‘ç«™åœ°å€ä¸º `https://olympics.com/tokyo-2020/olympic-games/zh/results/all-sports/medal-standings.htm`

æ€è€ƒï¼šä»€ä¹ˆç±»å‹çš„åœ¨çº¿è¡¨æ ¼å¯ä»¥ç›´æ¥è¯»å–ï¼Ÿ

In [5]:
import pandas as pd
data = pd.read_html('http://olympics.com/tokyo-2020/olympic-games/zh/results/all-sports/medal-standings.htm')
data.head()

ImportError: BeautifulSoup4 (bs4) not found, please install it

### 24 å¾ªç¯è¯»å–æ•°æ®

<br>

åœ¨æœ¬å°èŠ‚ `demodata` æ–‡ä»¶å¤¹ä¸‹æœ‰å¤šä¸ª `Excel` æ–‡ä»¶ï¼Œè¦æ±‚ä¸€æ¬¡æ€§å¾ªç¯è¯»å–å…¨éƒ¨æ–‡ä»¶

In [9]:
import glob
all_files = glob.glob('./demodata/*.xlsx')

li = []
for filename in all_files:
    li.append(pd.read_excel(filename))
print(li)
data = pd.concat(li, axis=0)
data.shape

[             æ—¥æœŸ  æ—¥å¢é•¿ç‡    æ¶¨è·Œ          æŒæœ‰é‡‘é¢   å‰©ä½™æœ¬é‡‘   æ“ä½œ           æ€»èµ„äº§
0    2020-01-02  1.63    up      0.000000  20000  NaN  20000.000000
1    2020-01-03  1.22    up      0.000000  20000  NaN  20000.000000
2    2020-01-06  1.09    up      0.000000  20000  NaN  20000.000000
3    2020-01-07  0.69    up      0.000000  20000  NaN  20000.000000
4    2020-01-08  0.12    up      0.000000  20000  NaN  20000.000000
..          ...   ...   ...           ...    ...  ...           ...
336  2021-05-26 -0.23  down  19036.737094   4900  NaN  23936.737094
337  2021-05-27  1.19    up  19263.274266   4900  buy  24163.274266
338  2021-05-28 -0.11  down  19341.824829   4800  NaN  24141.824829
339  2021-05-31  2.77    up  19877.593377   4800  buy  24677.593377
340  2021-06-01 -0.87  down  19803.639619   4700  NaN  24503.639619

[341 rows x 7 columns],              æ—¥æœŸ  æ—¥å¢é•¿ç‡    æ¶¨è·Œ          æŒæœ‰é‡‘é¢   å‰©ä½™æœ¬é‡‘   æ“ä½œ           æ€»èµ„äº§
0    2020-01-02  0.03    up      0.000000  20000  NaN  20000.000000
1    2020-01-03 -1.44  down      0.000000  20000  NaN  20000.000000
2    2020-01-06 -0.70  down      0.000000  20000  buy  20000.000000
3    2020-01-07  1.00    up    100.848500  19900  buy  20000.848500
4    2020-01-08  0.26    up    201.220316  19800  NaN  20001.220316
..          ...   ...   ...           ...    ...  ...           ...
336  2021-05-26 -0.86  down  18667.489133   6600  NaN  25267.489133
337  2021-05-27  0.15    up  18695.490366   6600  buy  25295.490366
338  2021-05-28 -0.44  down  18712.640869   6500  NaN  25212.640869
339  2021-05-31 -0.22  down  18671.473059   6500  buy  25171.473059
340  2021-06-01  0.17    up  18803.234308   6400  buy  25203.234308

[341 rows x 7 columns],              æ—¥æœŸ  æ—¥å¢é•¿ç‡    æ¶¨è·Œ          æŒæœ‰é‡‘é¢   å‰©ä½™æœ¬é‡‘   æ“ä½œ           æ€»èµ„äº§
0    2020-01-02  0.83    up      0.000000  20000  NaN  20000.000000
1    2020-01-03 -0.14  down      0.000000  20000  NaN  20000.000000
2    2020-01-06 -0.41  down      0.000000  20000  buy  20000.000000
3    2020-01-07  1.92    up    101.797696  19900  buy  20001.797696
4    2020-01-08 -2.02  down    197.603807  19800  NaN  19997.603807
..          ...   ...   ...           ...    ...  ...           ...
336  2021-05-26 -0.12  down  20372.810590   4700  NaN  25072.810590
337  2021-05-27  0.66    up  20507.271140   4700  buy  25207.271140
338  2021-05-28 -0.30  down  20545.329687   4600  NaN  25145.329687
339  2021-05-31  0.06    up  20557.656885   4600  buy  25157.656885
340  2021-06-01  0.42    up  20744.298540   4500  NaN  25244.298540

[341 rows x 7 columns],              æ—¥æœŸ  æ—¥å¢é•¿ç‡    æ¶¨è·Œ          æŒæœ‰é‡‘é¢   å‰©ä½™æœ¬é‡‘   æ“ä½œ           æ€»èµ„äº§
0    2020-01-02  2.92    up      0.000000  20000  NaN  20000.000000
1    2020-01-03  0.51    up      0.000000  20000  NaN  20000.000000
2    2020-01-06  1.98    up      0.000000  20000  NaN  20000.000000
3    2020-01-07  0.17    up      0.000000  20000  NaN  20000.000000
4    2020-01-08 -1.16  down      0.000000  20000  NaN  20000.000000
..          ...   ...   ...           ...    ...  ...           ...
336  2021-05-26 -1.50  down  16071.686368   4900  NaN  20971.686368
337  2021-05-27  1.27    up  16275.796785   4900  buy  21175.796785
338  2021-05-28  0.58    up  16470.625536   4800  NaN  21270.625536
339  2021-05-31  2.32    up  16852.744049   4800  NaN  21652.744049
340  2021-06-01 -0.57  down  16756.683407   4800  NaN  21556.683407

[341 rows x 7 columns],              æ—¥æœŸ  æ—¥å¢é•¿ç‡    æ¶¨è·Œ          æŒæœ‰é‡‘é¢   å‰©ä½™æœ¬é‡‘   æ“ä½œ           æ€»èµ„äº§
0    2020-01-02 -0.14  down      0.000000  20000  NaN  20000.000000
1    2020-01-03 -0.55  down      0.000000  20000  buy  20000.000000
2    2020-01-06 -1.82  down     98.032730  19900  buy  19998.032730
3    2020-01-07  1.19    up    200.237534  19800  buy  20000.237534
4    2020-01-08 -0.73  down    297.896895  19700  NaN  19997.896895
..          ...   ...   ...           ...    ...  ...           ...
336  2021-05-26  0.07    up  19943.931259   6500  NaN  26443.931259
337  2021-05-27 -0.20  down  19904.043397   6500  NaN  26404.043397
338  2021-05-28 -0.68  down  19768.695902   6500  buy  26268.695902
339  2021-05-31  1.65    up  20196.376909   6400  buy  26596.376909
340  2021-06-01  1.34    up  20568.196350   6300  NaN  26868.196350

[341 rows x 7 columns],              æ—¥æœŸ  æ—¥å¢é•¿ç‡    æ¶¨è·Œ          æŒæœ‰é‡‘é¢   å‰©ä½™æœ¬é‡‘   æ“ä½œ           æ€»èµ„äº§
0    2020-01-02 -0.35  down      0.000000  20000  NaN  20000.000000
1    2020-01-03 -0.69  down      0.000000  20000  buy  20000.000000
2    2020-01-06 -0.93  down     99.070000  19900  buy  19999.070000
3    2020-01-07  2.00    up    203.051400  19800  buy  20003.051400
4    2020-01-08 -0.35  down    301.990720  19700  NaN  20001.990720
..          ...   ...   ...           ...    ...  ...           ...
336  2021-05-26 -1.18  down  20517.087725   6000  NaN  26517.087725
337  2021-05-27  1.04    up  20730.465438   6000  buy  26730.465438
338  2021-05-28 -2.79  down  20249.295452   5900  NaN  26149.295452
339  2021-05-31  1.99    up  20652.256432   5900  buy  26552.256432
340  2021-06-01  2.59    up  21289.739873   5800  NaN  27089.739873

[341 rows x 7 columns],              æ—¥æœŸ  æ—¥å¢é•¿ç‡    æ¶¨è·Œ          æŒæœ‰é‡‘é¢   å‰©ä½™æœ¬é‡‘   æ“ä½œ           æ€»èµ„äº§
0    2020-01-02 -1.06  down      0.000000  20000  NaN  20000.000000
1    2020-01-03 -1.09  down      0.000000  20000  buy  20000.000000
2    2020-01-06 -0.79  down     99.110790  19900  buy  19999.110790
3    2020-01-07  1.03    up    201.060601  19800  buy  20001.060601
4    2020-01-08  0.16    up    301.442138  19700  NaN  20001.442138
..          ...   ...   ...           ...    ...  ...           ...
336  2021-05-26 -0.86  down  23729.814965   6400  NaN  30129.814965
337  2021-05-27  0.55    up  23860.328947   6400  buy  30260.328947
338  2021-05-28  0.13    up  23991.377245   6300  NaN  30291.377245
339  2021-05-31  0.58    up  24130.527233   6300  NaN  30430.527233
340  2021-06-01  1.20    up  24420.093560   6300  NaN  30720.093560

[341 rows x 7 columns],              æ—¥æœŸ  æ—¥å¢é•¿ç‡    æ¶¨è·Œ          æŒæœ‰é‡‘é¢   å‰©ä½™æœ¬é‡‘   æ“ä½œ           æ€»èµ„äº§
0    2020-01-02  2.46    up      0.000000  20000  NaN  20000.000000
1    2020-01-03  0.15    up      0.000000  20000  NaN  20000.000000
2    2020-01-06  0.08    up      0.000000  20000  NaN  20000.000000
3    2020-01-07  1.24    up      0.000000  20000  NaN  20000.000000
4    2020-01-08 -0.89  down      0.000000  20000  NaN  20000.000000
..          ...   ...   ...           ...    ...  ...           ...
336  2021-05-26  0.47    up  18108.640674   6600  NaN  24708.640674
337  2021-05-27  0.22    up  18148.479684   6600  NaN  24748.479684
338  2021-05-28 -0.78  down  18006.921542   6600  NaN  24606.921542
339  2021-05-31  0.42    up  18082.550613   6600  buy  24682.550613
340  2021-06-01  0.38    up  18251.523849   6500  NaN  24751.523849

[341 rows x 7 columns],              æ—¥æœŸ  æ—¥å¢é•¿ç‡    æ¶¨è·Œ          æŒæœ‰é‡‘é¢   å‰©ä½™æœ¬é‡‘   æ“ä½œ           æ€»èµ„äº§
0    2020-01-02  2.37    up      0.000000  20000  NaN  20000.000000
1    2020-01-03  2.06    up      0.000000  20000  NaN  20000.000000
2    2020-01-06  2.50    up      0.000000  20000  NaN  20000.000000
3    2020-01-07 -0.37  down      0.000000  20000  NaN  20000.000000
4    2020-01-08 -0.27  down      0.000000  20000  buy  20000.000000
..          ...   ...   ...           ...    ...  ...           ...
336  2021-05-26 -1.80  down  24209.531518   5400  NaN  29609.531518
337  2021-05-27  0.79    up  24400.786817   5400  buy  29800.786817
338  2021-05-28  5.10    up  25750.169295   5300  NaN  31050.169295
339  2021-05-31  6.79    up  27498.605790   5300  NaN  32798.605790
340  2021-06-01 -2.10  down  26921.135068   5300  NaN  32221.135068

[341 rows x 7 columns],              æ—¥æœŸ  æ—¥å¢é•¿ç‡    æ¶¨è·Œ          æŒæœ‰é‡‘é¢   å‰©ä½™æœ¬é‡‘   æ“ä½œ           æ€»èµ„äº§
0    2020-01-02  2.57    up      0.000000  20000  NaN  20000.000000
1    2020-01-03 -1.73  down      0.000000  20000  NaN  20000.000000
2    2020-01-06 -0.32  down      0.000000  20000  buy  20000.000000
3    2020-01-07 -0.40  down     99.450600  19900  buy  19999.450600
4    2020-01-08 -0.72  down    197.865636  19800  buy  19997.865636
..          ...   ...   ...           ...    ...  ...           ...
336  2021-05-26 -0.72  down  16984.590888   3600  NaN  20584.590888
337  2021-05-27  4.81    up  17801.549709   3600  buy  21401.549709
338  2021-05-28 -0.97  down  17727.756132   3500  NaN  21227.756132
339  2021-05-31  2.03    up  18087.629582   3500  buy  21587.629582
340  2021-06-01  1.87    up  18527.585450   3400  NaN  21927.585450

[341 rows x 7 columns]]

(3410, 7)

## 1-2 æ•°æ®åˆ›å»º

<br>

é™¤äº†ç›´æ¥è¯»å–æœ¬åœ°æ–‡ä»¶ï¼Œå­¦ä¼šç›´æ¥åˆ›å»ºæ•°æ®æ¡†ä¹Ÿå¾ˆé‡è¦ï¼Œå¸¸è§äºæµ‹è¯•ä¸€äº›å‡½æ•°ï¼Œä¸‹é¢æ˜¯ä»å¸¸è§æ•°æ®ç»“æ„åˆ›å»ºæ•°æ®æ¡†çš„æ–¹æ³•æ•´ç†

### 25 ä»åˆ—è¡¨åˆ›å»º

<br>

å°†ä¸‹é¢çš„ `list` è½¬æ¢ä¸º `dataframe`ï¼Œå¹¶æŒ‡å®šåˆ—åä¸º`"æ—©èµ·Python"`

In [10]:
l = [1,2,3,4,5]

In [13]:
data = pd.DataFrame(data=l, columns=['æ—©èµ·Python'])
data.head()

   æ—©èµ·Python
0         1
1         2
2         3
3         4
4         5

### 26 ä»åˆ—è¡¨åˆ›å»ºï½œåµŒå¥—åˆ—è¡¨

<br>

å°†ä¸‹é¢çš„ `list` è½¬æ¢ä¸º `dataframe`ï¼Œå¹¶æŒ‡å®šè¡Œç´¢å¼•ä¸º`"å…¬ä¼—å·","æ—©èµ·Python"`

In [21]:
l = [[1,2,3],[4,5,6]]
ll = []
for ind in range(0, 3):
    ll.append([l[0][ind], l[1][ind]])
print(ll)

[[1, 4], [2, 5], [3, 6]]

In [19]:
list(ll)

[([1, 2, 3],), ([4, 5, 6],)]

In [22]:
data = pd.DataFrame(data=ll, columns=["å…¬ä¼—å·","æ—©èµ·Python"])
data.head()

   å…¬ä¼—å·  æ—©èµ·Python
0    1         4
1    2         5
2    3         6

![å…¬ä¼—å·ï¼šæ—©èµ·Python](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/09/18/16319660121648.jpg?åŸŸå/sample.jpg?x-oss-process=style/stylename)

### 27 ä»å­—å…¸åˆ›å»º

æ‰§è¡Œä¸‹æ–¹ä»£ç ï¼Œå¹¶å°†å­—å…¸è½¬æ¢ä¸º`dataframe`

In [23]:
d = {
    "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]) }

In [24]:
data = pd.DataFrame.from_dict(d)
data.head()

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

### 28 ä»å­—å…¸åˆ›å»ºï½œæŒ‡å®šç´¢å¼•

<br>

è¿˜æ˜¯ä¸Šä¸€é¢˜çš„å­—å…¸`d`ï¼Œå°†å…¶è½¬æ¢ä¸º`dataframe`å¹¶æŒ‡å®šç´¢å¼•é¡ºåºä¸º `dã€bã€a`

In [31]:
data = pd.DataFrame.from_records(d, index=['d','b','a'])
data.head()

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

### 29 ä»å­—å…¸åˆ›å»ºï½œæŒ‡å®šåˆ—å

<br>

è¿˜æ˜¯ä¸Šä¸€é¢˜çš„å­—å…¸`d`ï¼Œå°†å…¶è½¬æ¢ä¸º`dataframe`å¹¶æŒ‡å®šç´¢å¼•é¡ºåºä¸º `dã€bã€a`ï¼Œåˆ—åä¸º`"two", "three"`

In [36]:
data = pd.DataFrame.from_records(d, index=['d','b','a']).rename(columns={
    'one': 'two',
    'two':'three'
})
data.head()

   two  three
d  NaN    4.0
b  2.0    2.0
a  1.0    1.0

### 30 ä»å­—å…¸åˆ›å»ºï½œå­—å…¸åˆ—è¡¨
<br>

å°†ä¸‹æ–¹åˆ—è¡¨å‹å­—å…¸è½¬æ¢ä¸º`dataframe`

æ€è€ƒï¼šå¦‚ä½•æŒ‡å®šè¡Œ/åˆ—ç´¢å¼•ï¼Ÿ

In [37]:
d = [{"a": 1, "b": 2}, {"a": 5, "b": 10, "c": 20}]

In [38]:
data = pd.DataFrame.from_records(d)
data.head()

   a   b     c
0  1   2   NaN
1  5  10  20.0

### 31 ä»é›†åˆåˆ›å»º

<br>

å°†ä¸‹é¢çš„å…ƒç»„è½¬æ¢ä¸º dataframe ä¸”è¡Œåˆ—ç´¢å¼•å‡ä¸º `1,2,3,4`

In [26]:
t =((1,0,0,0,),(2,3,0,0,),(4,5,6,0,),(7,8,9,10,))

In [41]:
data = pd.DataFrame.from_records(t, columns=[1,2,3,4], index=[1,2,3,4])
data.head()

Empty DataFrame
Columns: []
Index: [(1, 0, 0, 0), (2, 3, 0, 0), (4, 5, 6, 0), (7, 8, 9, 10)]

## 1-3 æ•°æ®å­˜å‚¨

### 32 ä¿å­˜ä¸º CSV

<br>

å°†ç¬¬ä¸‰é¢˜è¯»å–åˆ°çš„æ•°æ®ä¿å­˜ä¸º `csv` æ ¼å¼è‡³å½“å‰ç›®å½•ä¸‹ï¼ˆæ–‡ä»¶åä»»æ„ï¼‰

In [47]:
data = pd.read_csv("æŸæ‹›è˜ç½‘ç«™æ•°æ®.csv",nrows = 20)

In [43]:
data.to_csv('tmp1.csv')

### 33 ä¿å­˜ä¸º CSVï½œæŒ‡å®šåˆ—

<br>

å°†ç¬¬ä¸‰é¢˜è¯»å–åˆ°çš„æ•°æ®ä¿å­˜ä¸º `csv` æ ¼å¼è‡³å½“å‰ç›®å½•ä¸‹ï¼ˆæ–‡ä»¶åä»»æ„ï¼‰ï¼Œä¸”åªä¿ç•™`positionNameã€salary`ä¸¤åˆ—

In [51]:
data.to_csv('tmp2.csv', columns=['positionName', 'salary'])

### 34 ä¿å­˜ä¸º CSVï½œå–æ¶ˆç´¢å¼•

<br>

å°†ç¬¬ä¸‰é¢˜è¯»å–åˆ°çš„æ•°æ®ä¿å­˜ä¸º `csv` æ ¼å¼è‡³å½“å‰ç›®å½•ä¸‹ï¼ˆæ–‡ä»¶åä»»æ„ï¼‰ï¼Œä¸”å–æ¶ˆæ¯ä¸€è¡Œçš„ç´¢å¼•

In [54]:
data.to_csv('tmp3.csv', index=False)

### 35 ä¿å­˜ä¸º CSVï½œæ ‡è®°ç¼ºå¤±å€¼

<br>

åœ¨ä¸Šä¸€é¢˜çš„åŸºç¡€ä¸Šï¼Œåœ¨ä¿å­˜çš„åŒæ—¶ï¼Œå°†ç¼ºå¤±å€¼æ ‡è®°ä¸º`'æ•°æ®ç¼ºå¤±'`

In [55]:
data.fillna('æ•°æ®ç¼ºå¤±') .to_csv('tmp4.csv', index=False)

### 36 ä¿å­˜ä¸ºCSVï½œå‹ç¼©

<br>

å°†ä¸Šä¸€é¢˜çš„æ•°æ®ä¿å­˜è‡³ `zip` æ–‡ä»¶ï¼Œè§£å‹åå‡ºç° `out.csv`

In [61]:
data.fillna('æ•°æ®ç¼ºå¤±') .to_csv('tmp1.zip', index=False, compression='zip')

### 37 ä¿å­˜ä¸º Excel 

<br>

å°†ç¬¬ä¸‰é¢˜è¯»å–åˆ°çš„æ•°æ®ä¿å­˜ä¸º `xlsx` æ ¼å¼è‡³å½“å‰ç›®å½•ä¸‹ï¼ˆæ–‡ä»¶åä»»æ„ï¼‰

In [56]:
data.to_excel('tmp1.xlsx')

### 38 ä¿å­˜ä¸º JSON

å°†ä¹‹å‰çš„æ•°æ®ä¿å­˜ä¸º `json` æ ¼å¼è‡³å½“å‰ç›®å½•ä¸‹ï¼ˆæ–‡ä»¶åä»»æ„ï¼‰

In [57]:
data.to_json('tmp1.json')

### 39 ä¿å­˜ä¸º Markdown

å°†ä¹‹å‰æ•°æ®è½¬æ¢ä¸º `markdown` å½¢å¼è¡¨æ ¼ï¼Œè¿™æ ·å¯ä»¥ç›´æ¥å¤åˆ¶è¿› `.md` æ–‡ä»¶ä¸­ä½¿ç”¨

In [58]:
data.to_markdown('tmp1.md')

### 40 ä¿å­˜ä¸º Html

å°†ä¹‹å‰çš„æ•°æ®ä¿å­˜ä¸º `html` æ ¼å¼è‡³å½“å‰ç›®å½•ä¸‹ï¼ˆæ–‡ä»¶åä»»æ„ï¼‰ï¼Œå¹¶è¿›è¡Œå¦‚ä¸‹è®¾ç½®
- å–æ¶ˆè¡Œç´¢å¼•
- æ ‡é¢˜å±…ä¸­å¯¹é½
- åˆ—å®½100

In [62]:
data.to_html('tmp1.html', col_space=100, index=False, justify='center')