# pandas 进阶修炼 ｜早起Python
<br>

**本习题由公众号【早起Python & 可视化图鉴】 原创，转载及其他形式合作请与我们联系（微信号`sshs321`)，未经授权严禁搬运及二次创作，侵权必究！**



本习题基于 `pandas` 版本 `1.1.3`，所有内容应当在 `Jupyter Notebook` 中执行以获得最佳效果。

不同版本之间写法可能会有少许不同，如若碰到此情况，你应该学会如何自行检索解决。

# 1 - 数据加载与存储

是的，常常被忽略的「<font color=#E36C07>**数据加载与存储**</font>」也大有门道且值得作为本套习题的开门之章。

在一次数据分析的过程中，你可能只会读取或存储一两次数据集。

**但若能灵活掌握各项设置，在读取阶段就将数据筛选、匹配、格式指定等操作完成，有时会为我们节省大量时间。**

在本节习题中，我将 pandas 数据分析中常见的数据读取与存储操作进行整理。

<font color=#E36C07>**既可以用于巩固、学习各种操作，也可以作为速查手册使用**</font>。

## 初始化

<br>

该 `Notebook` 版本为**纯习题版**

如果需要答案或者提示，可以微信搜索公众号「早起Python」获取！

## 1-1 数据读取

### 1 读取 Excel 文件

<br>

- 读取当前目录下 `某招聘网站数据.csv` 文件

- 读取当前目录下 `TOP250.xlsx` 文件

**注意**：使用 `pandas` 读取 `CSV` 与 读取 `xlsx` 格式的 `Excel` 文件方法大致相同

因此接下来与 `Excel` 相关的操作均以 `CSV` 格式进行出题。

In [3]:
import pandas as pd
data = pd.read_csv("某招聘网站数据.csv")
data = pd.read_excel("TOP250.xlsx")

### 2 读取 Excel 文件｜指定位置

在大多数情况下，我们会将 `notebook` 和数据源文件放在同一个目录（文件夹下），这样直接使用`pd.read_xxx("文件名")`即可成功读取。
 
但有时需要读取的文件和 `notebook` 不在同一个目录下，这时可以使用绝对路径或者相对本 `notebook` 的路径。

现在请读取本套习题中第二章节下的数据，即 `2 - 个性化显示设置/data.csv`

In [6]:
data_ext = pd.read_csv('../2 - 个性化显示设置/data.csv')
data_ext.head(n=2)

,positionId,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,...,plus,pcShow,appShow,deliver,gradeDescription,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
0,6802721,数据分析,475770,50-150人,"移动互联网,电商",A轮,"['绩效奖金', '带薪年假', '定期体检', '弹性工作']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
1,5204912,数据建模,50735,150-500人,电商,B轮,"['年终奖金', '做五休二', '六险一金', '子女福利']",开发|测试|运维类,数据开发,建模,...,NaN,0,0,0,NaN,NaN,0,0,[],False

###  3 读取 Excel 文件｜指定行（顺序）
<br>

读取当前目录下 `某招聘网站数据.csv` 文件的 <font color = '#5F5FFC'>前20行</font>

In [8]:
data = pd.read_csv("某招聘网站数据.csv", nrows=20)
print(data.shape)

(20, 52)

In [10]:
data = pd.read_csv("某招聘网站数据.csv")
print(data.shape)

(105, 52)

###  4 读取 Excel 文件｜指定行（跳过）
<br>

读取当前目录下 `某招聘网站数据.csv` 文件并<font color = '#5F5FFC'>跳过前20行</font>

In [9]:
data = pd.read_csv("某招聘网站数据.csv", skiprows=20)
print(data.shape)

(85, 52)

###  5 读取 Excel 文件｜指定行（条件）
<br>

读取当前目录下 `某招聘网站数据.csv` 文件中全部<font color = '#5F5FFC'>偶数行</font>

思考：如果是读取全部奇数行，或者更多满足指定条件的行呢？

In [13]:
data = pd.read_csv("某招聘网站数据.csv", skiprows=(lambda x: x %2 == 0))
print(data.shape)

(52, 52)

### 6 读取 Excel 文件｜指定列（列号）

<br>

**根据指定列号读取**

读取当前目录下 `某招聘网站数据.csv` 文件的第 `1、3、5` 列

In [14]:
data = pd.read_csv("某招聘网站数据.csv", usecols=[1,3,5])
print(data.shape)

(105, 3)

###  7 读取 Excel 文件｜指定列（列名）

<br>

**根据指定列名读取**

读取当前目录下 `某招聘网站数据.csv` 文件的 `positionId、positionName、salary` 列

In [19]:
data = pd.read_csv("某招聘网站数据.csv", usecols=["positionId","positionName","salary"])
data.head

<bound method NDFrame.head of      positionId           positionName  salary
0       6802721                   数据分析   37500
1       5204912                   数据建模   15000
2       6877668                   数据分析    3500
3       6496141                   数据分析   45000
4       6467417                   数据分析   30000
..          ...                    ...     ...
100     6884346                  数据分析师   25000
101     6849100                 商业数据分析   35000
102     6803432        奔驰·耀出行-BI数据分析专家   30000
103     6704835                BI数据分析师   20000
104     6728058  数据分析专家-LQ(J181203029)   21500

[105 rows x 3 columns]>

###  8 读取 Excel 文件｜指定列（匹配）

<br>

**根据指定列名匹配读取**

让我们来个更难一点的，还是读取 `某招聘网站数据.csv` 文件，但现在有一个 list 中包含多个字段👇

`usecols = ['positionId','test','positionName', 'test1','salary']`

如果 `usecols` 中的列名存在于 `某招聘网站数据.csv` 中，则读取。

In [21]:
data = pd.read_csv("某招聘网站数据.csv", usecols=lambda x: x in ['positionId','test','positionName', 'test1','salary'])
data.shape

(105, 3)

### 9 读取 Excel 文件｜指定索引

<br>

读取当前目录下 `某招聘网站数据.csv` 文件，并在读取时将 `positionId` 设置为索引列

In [20]:
data = pd.read_csv("某招聘网站数据.csv", index_col='positionId')
data.head

<bound method NDFrame.head of                      positionName  companyId companySize industryField  \
positionId
6802721                      数据分析     475770     50-150人      移动互联网,电商
5204912                      数据建模      50735    150-500人            电商
6877668                      数据分析     100125     2000人以上    移动互联网,企业服务
6496141                      数据分析      26564   500-2000人            电商
6467417                      数据分析      29211     2000人以上         物流丨运输
...                           ...        ...         ...           ...
6884346                     数据分析师      21236   500-2000人   移动互联网,医疗丨健康
6849100                    商业数据分析      72076   500-2000人      移动互联网,电商
6803432           奔驰·耀出行-BI数据分析专家     751158    150-500人         移动互联网
6704835                   BI数据分析师      52840     2000人以上            电商
6728058     数据分析专家-LQ(J181203029)       2474     2000人以上         汽车丨出行

           financeStage                   companyLabelList  firstType  \
positionId
6802721              A轮   ['绩效奖金', '带薪年假', '定期体检', '弹性工作']  产品|需求|项目类
5204912              B轮   ['年终奖金', '做五休二', '六险一金', '子女福利']  开发|测试|运维类
6877668            上市公司   ['节日礼物', '年底双薪', '股票期权', '带薪年假']  产品|需求|项目类
6496141           D轮及以上  ['生日趴', '每月腐败基金', '每月补贴', '年度旅游']  开发|测试|运维类
6467417            上市公司   ['技能培训', '免费班车', '专项奖金', '岗位晋升']  产品|需求|项目类
...                 ...                                ...        ...
6884346              C轮   ['技能培训', '年底双薪', '节日礼物', '绩效奖金']  产品|需求|项目类
6849100              C轮   ['节日礼物', '股票期权', '带薪年假', '年度旅游']     市场|商务类
6803432           不需要融资                                 []  开发|测试|运维类
6704835            上市公司   ['技能培训', '年底双薪', '节日礼物', '绩效奖金']  开发|测试|运维类
6728058           不需要融资   ['弹性工作', '节日礼物', '岗位晋升', '技能培训']  产品|需求|项目类

           secondType thirdType                     skillLables  ... plus  \
positionId                                                       ...
6802721          数据分析      数据分析    ['SQL', '数据库', '数据运营', 'BI']  ...  NaN
5204912          数据开发        建模                  ['算法', '数据架构']  ...  NaN
6877668          数据分析      数据分析          ['数据库', '数据分析', 'SQL']  ...  NaN
6496141          数据开发      数据分析                              []  ...  NaN
6467417          数据分析      数据分析          ['BI', '数据分析', '数据运营']  ...  NaN
...               ...       ...                             ...  ...  ...
6884346          数据分析      数据分析    ['数据库', '商业', '数据分析', 'SQL']  ...  NaN
6849100         市场|营销    商业数据分析  ['市场', '数据分析', '行业分析', '市场分析']  ...  NaN
6803432          数据开发      数据分析       ['MySQL', '数据处理', '数据分析']  ...  NaN
6704835          数据开发      数据分析           ['SQLServer', '数据分析']  ...  NaN
6728058          数据分析    其他数据分析                              []  ...  NaN

           pcShow appShow deliver gradeDescription promotionScoreExplain  \
positionId
6802721         0       0       0              NaN                   NaN
5204912         0       0       0              NaN                   NaN
6877668         0       0       0              NaN                   NaN
6496141         0       0       0              NaN                   NaN
6467417         0       0       0              NaN                   NaN
...           ...     ...     ...              ...                   ...
6884346         0       0       0              NaN                   NaN
6849100         0       0       0              NaN                   NaN
6803432         0       0       0              NaN                   NaN
6704835         0       0       0              NaN                   NaN
6728058         0       0       0              NaN                   NaN

            isHotHire count aggregatePositionIds famousCompany
positionId
6802721             0     0                   []         False
5204912             0     0                   []         False
6877668             0     0                   []         False
6496141             0     0                   []          True
6467417             0     0                   []          True
...               ...   ...                  ...           ...
6884346             0     0                   []         False
6849100             0     0                   []         False
6803432             0     0                   []         False
6704835             0     0                   []          True
6728058             0     0                   []          True

[105 rows x 51 columns]>

###  10 读取 Excel 文件｜指定标题

<br>


读取当前目录下 `某招聘网站数据.csv` 文件的 `positionId、positionName、salary` 列，并将标题设置为 `ID、岗位名称、薪资`

In [24]:
data = pd.read_csv("某招聘网站数据.csv", usecols=["positionId","positionName","salary"])
data = data.rename(columns={
    'positionId':"Id",
    'positionName': "岗位",
    'salary' : "薪资"
})
data.head

<bound method NDFrame.head of           Id                     岗位     薪资
0    6802721                   数据分析  37500
1    5204912                   数据建模  15000
2    6877668                   数据分析   3500
3    6496141                   数据分析  45000
4    6467417                   数据分析  30000
..       ...                    ...    ...
100  6884346                  数据分析师  25000
101  6849100                 商业数据分析  35000
102  6803432        奔驰·耀出行-BI数据分析专家  30000
103  6704835                BI数据分析师  20000
104  6728058  数据分析专家-LQ(J181203029)  21500

[105 rows x 3 columns]>

###  11 读取 Excel 文件｜缺失值转换

<br>


读取当前目录下 `某招聘网站数据.csv` 文件，**并不将缺失值标记为 `NA`**

思考：为什么要这样做？

In [47]:
data = pd.read_csv("某招聘网站数据.csv", keep_default_na=False)
data.isnull().sum()

positionId               0
positionName             0
companyId                0
companySize              0
industryField            0
financeStage             0
companyLabelList         0
firstType                0
secondType               0
thirdType                0
skillLables              0
positionLables           0
industryLables           0
createTime               0
formatCreateTime         0
district                 0
businessZones            0
salary                   0
workYear                 0
jobNature                0
education                0
positionAdvantage        0
imState                  0
lastLogin                0
publisherId              0
approve                  0
subwayline               0
stationname              0
linestaion               0
latitude                 0
longitude                0
hitags                   0
resumeProcessRate        0
resumeProcessDay         0
score                    0
newScore                 0
matchScore               0
matchScoreExplain        0
query                    0
explain                  0
isSchoolJob              0
adWord                   0
plus                     0
pcShow                   0
appShow                  0
deliver                  0
gradeDescription         0
promotionScoreExplain    0
isHotHire                0
count                    0
aggregatePositionIds     0
famousCompany            0
dtype: int64

###  12 读取 Excel 文件｜缺失值标记

<br>


读取当前目录下 `某招聘网站数据.csv` 文件，**并将`[]`标记为缺失值**

In [46]:
data = pd.read_csv("某招聘网站数据.csv", na_values='[]', keep_default_na=True)
data.isnull().sum()

positionId                 0
positionName               0
companyId                  0
companySize                0
industryField              0
financeStage               0
companyLabelList          10
firstType                  0
secondType                 0
thirdType                  0
skillLables               13
positionLables             2
industryLables            49
createTime                 0
formatCreateTime           0
district                   0
businessZones             52
salary                     0
workYear                   0
jobNature                  0
education                  0
positionAdvantage          0
imState                    0
lastLogin                  0
publisherId                0
approve                    0
subwayline                60
stationname               60
linestaion                60
latitude                   0
longitude                  0
hitags                   103
resumeProcessRate          0
resumeProcessDay           0
score                      0
newScore                   0
matchScore                 0
matchScoreExplain        105
query                    105
explain                  105
isSchoolJob                0
adWord                     0
plus                     105
pcShow                     0
appShow                    0
deliver                    0
gradeDescription         105
promotionScoreExplain    105
isHotHire                  0
count                      0
aggregatePositionIds     105
famousCompany              0
dtype: int64

### 13 读取 Excel 文件｜忽略缺失值

<br>

读取当前目录下 `某招聘网站数据.csv` 文件，**但不处理缺失值**

思考：和之前的有什么不同，为什么这么做？

In [48]:
data = pd.read_csv("某招聘网站数据.csv")
data.isnull().sum()

positionId                 0
positionName               0
companyId                  0
companySize                0
industryField              0
financeStage               0
companyLabelList           0
firstType                  0
secondType                 0
thirdType                  0
skillLables                0
positionLables             0
industryLables             0
createTime                 0
formatCreateTime           0
district                   0
businessZones             52
salary                     0
workYear                   0
jobNature                  0
education                  0
positionAdvantage          0
imState                    0
lastLogin                  0
publisherId                0
approve                    0
subwayline                60
stationname               60
linestaion                60
latitude                   0
longitude                  0
hitags                   103
resumeProcessRate          0
resumeProcessDay           0
score                      0
newScore                   0
matchScore                 0
matchScoreExplain        105
query                    105
explain                  105
isSchoolJob                0
adWord                     0
plus                     105
pcShow                     0
appShow                    0
deliver                    0
gradeDescription         105
promotionScoreExplain    105
isHotHire                  0
count                      0
aggregatePositionIds       0
famousCompany              0
dtype: int64

### 14 读取 Excel 文件｜指定格式

<br>

读取当前目录下 `某招聘网站数据.csv` 文件，并将 `positionId,companyId` 设置为字符串格式

In [53]:
data = pd.read_csv("某招聘网站数据.csv", converters= {
    'positionId': str,
    'companyId': str
})
print(data.dtypes)
data.head()

positionId                object
positionName              object
companyId                 object
companySize               object
industryField             object
financeStage              object
companyLabelList          object
firstType                 object
secondType                object
thirdType                 object
skillLables               object
positionLables            object
industryLables            object
createTime                object
formatCreateTime          object
district                  object
businessZones             object
salary                     int64
workYear                  object
jobNature                 object
education                 object
positionAdvantage         object
imState                   object
lastLogin                 object
publisherId                int64
approve                    int64
subwayline                object
stationname               object
linestaion                object
latitude                 float64
longitude                float64
hitags                    object
resumeProcessRate          int64
resumeProcessDay           int64
score                      int64
newScore                   int64
matchScore               float64
matchScoreExplain        float64
query                    float64
explain                  float64
isSchoolJob                int64
adWord                     int64
plus                     float64
pcShow                     int64
appShow                    int64
deliver                    int64
gradeDescription         float64
promotionScoreExplain    float64
isHotHire                  int64
count                      int64
aggregatePositionIds      object
famousCompany               bool
dtype: object

,positionId,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,...,plus,pcShow,appShow,deliver,gradeDescription,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
0,6802721,数据分析,475770,50-150人,"移动互联网,电商",A轮,"['绩效奖金', '带薪年假', '定期体检', '弹性工作']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
1,5204912,数据建模,50735,150-500人,电商,B轮,"['年终奖金', '做五休二', '六险一金', '子女福利']",开发|测试|运维类,数据开发,建模,...,NaN,0,0,0,NaN,NaN,0,0,[],False
2,6877668,数据分析,100125,2000人以上,"移动互联网,企业服务",上市公司,"['节日礼物', '年底双薪', '股票期权', '带薪年假']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
3,6496141,数据分析,26564,500-2000人,电商,D轮及以上,"['生日趴', '每月腐败基金', '每月补贴', '年度旅游']",开发|测试|运维类,数据开发,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True
4,6467417,数据分析,29211,2000人以上,物流丨运输,上市公司,"['技能培训', '免费班车', '专项奖金', '岗位晋升']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],True

### 15 读取 Excel 文件｜指定格式（时间）

<br>

读取当前目录下 `某招聘网站数据.csv` 文件，并将 `createTime` 列设置为字符串格式

In [57]:
data = pd.read_csv("某招聘网站数据.csv", converters= {
    'createTime': str
})
print(data.dtypes)
data.head()

object

0    2020/3/16 11:00
1    2020/3/16 11:08
2    2020/3/16 10:33
3    2020/3/16 10:10
4     2020/3/16 9:56
Name: createTime, dtype: object

### 16 读取 Excel 文件｜分块读取


<br>

读取当前目录下 `某招聘网站数据.csv` 文件，要求返回一个可迭代对象，每次读取 10 行

思考：为什么这样做？

In [63]:
data = pd.read_csv("某招聘网站数据.csv", chunksize=10)
for chunk in data:
    print(chunk)

'带薪年假', '定期体检']  开发|测试|运维类       数据开发      数据分析  ...
48    ['午餐补助', '带薪年假', '定期体检', '年度旅游']  产品|需求|项目类       数据分析      数据分析  ...
49      ['技能培训', 'Geek', '开放', '扁平管理']  综合职能|高级管理         财务        财务  ...

   plus pcShow appShow deliver gradeDescription promotionScoreExplain  \
40  NaN      0       0       0              NaN                   NaN
41  NaN      0       0       0              NaN                   NaN
42  NaN      0       0       0              NaN                   NaN
43  NaN      0       0       0              NaN                   NaN
44  NaN      0       0       0              NaN                   NaN
45  NaN      0       0       0              NaN                   NaN
46  NaN      0       0       0              NaN                   NaN
47  NaN      0       0       0              NaN                   NaN
48  NaN      0       0       0              NaN                   NaN
49  NaN      0       0       0              NaN                   NaN

   isHotHire  count aggregatePositionIds famousCompany
40         0      0                   []         False
41         0      0                   []         False
42         0      0                   []         False
43         0      0                   []         False
44         0      0                   []         False
45         0      0                   []          True
46         0      0                   []         False
47         0      0                   []         False
48         0      0                   []         False
49         0      0                   []          True

[10 rows x 52 columns]
    positionId        positionName  companyId companySize industryField  \
50     6680900    数据分析师 (MJ000250)     114335    150-500人          数据服务
51     6191993     数据分析专家03-10-217      18655     2000人以上         汽车丨出行
52     6486069        解决方案顾问/数据分析师     166666    150-500人     企业服务,数据服务
53     6814233               数据分析师     619746     2000人以上            教育
54     6046775              数据分析专家     133429     50-150人    移动互联网,消费生活
55     6791055             高级数据分析师     432882    150-500人         移动互联网
56     6037742  资深数据分析师 (MJ000088)     127233    150-500人          电子商务
57     6872125               数据分析师     172552   500-2000人          消费生活
58     5921220             财务数据分析师     137388    150-500人      移动互联网,电商
59     5453691             数据分析实习生     166666    150-500人     企业服务,数据服务

   financeStage                    companyLabelList  firstType secondType  \
50           B轮     ['股票期权', '弹性工作', '领导好', '五险一金']  产品|需求|项目类       产品经理
51        D轮及以上      ['技能培训', 'Geek', '开放', '扁平管理']  开发|测试|运维类       数据开发
52           B轮    ['股票期权', '绩效奖金', '带薪年假', '弹性工作']  产品|需求|项目类       数据分析
53         上市公司    ['绩效奖金', '定期体检', '提供宿舍', '管理规范']  产品|需求|项目类       数据分析
54          未融资     ['年底双薪', '专项奖金', '美女多', '弹性工作']  产品|需求|项目类     高端产品职位
55        不需要融资  ['技术大牛', '领导nice', '帅哥美女', '环境超棒']  产品|需求|项目类       数据分析
56        不需要融资    ['带薪年假', '绩效奖金', '定期体检', '弹性工作']  开发|测试|运维类       数据开发
57        不需要融资                                  []  产品|需求|项目类       数据分析
58        不需要融资    ['年终分红', '绩效奖金', '定期体检', '年底双薪']  综合职能|高级管理         财务
59           B轮    ['股票期权', '绩效奖金', '带薪年假', '弹性工作']  开发|测试|运维类       数据开发

   thirdType  ... plus pcShow appShow deliver gradeDescription  \
50     数据分析师  ...  NaN      0       0       0              NaN
51      数据分析  ...  NaN      0       0       0              NaN
52      数据分析  ...  NaN      0       0       0              NaN
53      数据分析  ...  NaN      0       0       0              NaN
54    数据分析专家  ...  NaN      0       0       0              NaN
55      数据分析  ...  NaN      0       0       0              NaN
56      数据分析  ...  NaN      0       0       0              NaN
57      数据分析  ...  NaN      0       0       0              NaN
58      财务风控  ...  NaN      0       0       0              NaN
59      数据分析  ...  NaN      0       0       0              NaN

   promotionScoreExplain isHotHire  count aggregatePositionIds famousCompany
50                   NaN         0      0                   []         False
51                   NaN         0      0                   []          True
52                   NaN         0      0                   []         False
53                   NaN         0      0                   []         False
54                   NaN         0      0                   []         False
55                   NaN         0      0                   []         False
56                   NaN         0      0                   []         False
57                   NaN         0      0                   []         False
58                   NaN         0      0                   []         False
59                   NaN         0      0                   []         False

[10 rows x 52 columns]
    positionId         positionName  companyId companySize industryField  \
60     5978750    数据分析师（保险）13-01-19      18655     2000人以上         汽车丨出行
61     5990647            高级财务数据分析师      18655     2000人以上         汽车丨出行
62     6191993      数据分析专家03-10-217      18655     2000人以上         汽车丨出行
63     6680900     数据分析师 (MJ000250)     114335    150-500人          数据服务
64     6789831              数据分析实习生     306282    150-500人    移动互联网,数据服务
65     6486069         解决方案顾问/数据分析师     166666    150-500人     企业服务,数据服务
66     6848382  资深数据分析师（商品方向）G01053     179243   500-2000人      电商,移动互联网
67     5203054              资深数据分析师        329     2000人以上            电商
68     6829736     数据分析负责人 or 数据分析师     205347     2000人以上         金融,电商
69     6116460  资深数据分析/数据分析专家G00796     179243   500-2000人      电商,移动互联网

   financeStage                  companyLabelList  firstType secondType  \
60        D轮及以上    ['技能培训', 'Geek', '开放', '扁平管理']  开发|测试|运维类       数据开发
61        D轮及以上    ['技能培训', 'Geek', '开放', '扁平管理']  综合职能|高级管理         财务
62        D轮及以上    ['技能培训', 'Geek', '开放', '扁平管理']  开发|测试|运维类       数据开发
63           B轮   ['股票期权', '弹性工作', '领导好', '五险一金']  产品|需求|项目类       产品经理
64          未融资  ['弹性工作', '技能培训', '岗位晋升', '五险一金']  开发|测试|运维类       数据开发
65           B轮  ['股票期权', '绩效奖金', '带薪年假', '弹性工作']  产品|需求|项目类       数据分析
66         上市公司  ['绩效奖金', '股票期权', '五险一金', '午餐补助']  产品|需求|项目类       数据分析
67         上市公司  ['节日礼物', '技能培训', '免费班车', '带薪年假']  产品|需求|项目类       数据分析
68         上市公司   ['带薪年假', '定期体检', '免费班车', '领导好']  开发|测试|运维类       数据开发
69         上市公司  ['绩效奖金', '股票期权', '五险一金', '午餐补助']  开发|测试|运维类       数据开发

   thirdType  ... plus pcShow appShow deliver gradeDescription  \
60      数据分析  ...  NaN      0       0       0              NaN
61        财务  ...  NaN      0       0       0              NaN
62      数据分析  ...  NaN      0       0       0              NaN
63     数据分析师  ...  NaN      0       0       0              NaN
64      数据分析  ...  NaN      0       0       0              NaN
65      数据分析  ...  NaN      0       0       0              NaN
66      数据分析  ...  NaN      0       0       0              NaN
67      数据分析  ...  NaN      0       0       0              NaN
68      数据分析  ...  NaN      0       0       0              NaN
69      数据分析  ...  NaN      0       0       0              NaN

   promotionScoreExplain isHotHire  count aggregatePositionIds famousCompany
60                   NaN         0      0                   []          True
61                   NaN         0      0                   []          True
62                   NaN         0      0                   []          True
63                   NaN         0      0                   []         False
64                   NaN         0      0                   []         False
65                   NaN         0      0                   []         False
66                   NaN         0      0                   []          True
67                   NaN         0      0                   []          True
68                   NaN         0      0                   []          True
69                   NaN         0      0                   []          True

[10 rows x 52 columns]
    positionId        positionName  companyId companySize industryField  \
70     6728610            高级数据分析专员      98316     2000人以上       电商,消费生活
71     6793844             BI数据分析师     555182     50-150人      移动互联网,电商
72     6794326             BI数据分析师     374014   500-2000人      移动互联网,金融
73     6819289               数据分析师      28103     2000人以上       消费生活,硬件
74     6837340        数据分析-2020届春招     205347     2000人以上         金融,电商
75     6698172               数据分析师       2900   500-2000人            电商
76     6896403        智能数据分析引擎研发专家     285786     2000人以上            电商
77     6854920       数据分析师(J10147)     343064     2000人以上            电商
78     5683671  数据分析实习生 (MJ000087)     114335    150-500人          数据服务
79     6046866               数据分析师     543802      15-50人          数据服务

   financeStage                    companyLabelList  firstType secondType  \
70         上市公司    ['午餐补助', '带薪年假', '定期体检', '年度旅游']     市场|商务类      市场|营销
71          天使轮                                  []  运营|编辑|客服类         运营
72           B轮     ['弹性工作', '扁平管理', '领导好', '五险一金']  产品|需求|项目类       数据分析
73         上市公司  ['定期体检', '五险一金', '专项奖金', '骨干家庭公寓']  产品|需求|项目类       数据分析
74         上市公司     ['带薪年假', '定期体检', '免费班车', '领导好']  产品|需求|项目类       数据分析
75           C轮    ['扁平化管理', '技术驱动', '14薪', '六险一金']  产品|需求|项目类       数据分析
76         上市公司    ['年底双薪', '带薪年假', '午餐补助', '弹性工作']  开发|测试|运维类       后端开发
77        不需要融资    ['绩效奖金', '交通补助', '带薪年假', '定期体检']  产品|需求|项目类       产品经理
78           B轮     ['股票期权', '弹性工作', '领导好', '五险一金']  开发|测试|运维类       后端开发
79        不需要融资                                  []  产品|需求|项目类       数据分析

   thirdType  ... plus pcShow appShow deliver gradeDescription  \
70    商业数据分析  ...  NaN      0       0       0              NaN
71        运营  ...  NaN      0       0       0              NaN
72        BI  ...  NaN      0       0       0              NaN
73      数据分析  ...  NaN      0       0       0              NaN
74      数据分析  ...  NaN      0       0       0              NaN
75      数据分析  ...  NaN      0       0       0              NaN
76      Java  ...  NaN      0       0       0              NaN
77     数据分析师  ...  NaN      0       0       0              NaN
78      数据采集  ...  NaN      0       0       0              NaN
79      数据分析  ...  NaN      0       0       0              NaN

   promotionScoreExplain isHotHire  count aggregatePositionIds famousCompany
70                   NaN         0      0                   []         False
71                   NaN         0      0                   []         False
72                   NaN         0      0                   []         False
73                   NaN         0      0                   []          True
74                   NaN         0      0                   []          True
75                   NaN         0      0                   []          True
76                   NaN         0      0                   []          True
77                   NaN         0      0                   []         False
78                   NaN         0      0                   []         False
79                   NaN         0      0                   []         False

[10 rows x 52 columns]
    positionId             positionName  companyId companySize industryField  \
80     6310387                 业务与数据分析师      93448    150-500人     人工智能,数据服务
81     6602399          商业数据分析师（阿里数据银行）     100858     50-150人    移动互联网,广告营销
82     6820395  产品经理/数据分析（核心业务）-2020届春招     205347     2000人以上         金融,电商
83     6872841                  资深数据分析师        329     2000人以上            电商
84     6747553                  资深数据分析师     581460     2000人以上      电商,汽车丨出行
85     6792091                  高级数据分析师      23252   500-2000人         移动互联网
86     6496980               数据分析师-Lark         62     2000人以上         文娱丨内容
87     6095231           数据分析师-企业SaaS应用         62     2000人以上         文娱丨内容
88     6597345                  资深数据分析师      57350   500-2000人         移动互联网
89     6655791                     数据分析     289890   500-2000人            其他

   financeStage                      companyLabelList  firstType secondType  \
80           B轮      ['技能培训', '股票期权', '带薪年假', '绩效奖金']  产品|需求|项目类       数据分析
81          天使轮      ['节日礼物', '带薪年假', '绩效奖金', '五险一金']     市场|商务类      市场|营销
82         上市公司       ['带薪年假', '定期体检', '免费班车', '领导好']  产品|需求|项目类       产品经理
83         上市公司      ['节日礼物', '技能培训', '免费班车', '带薪年假']  开发|测试|运维类       数据开发
84        D轮及以上       ['阿里合资', '六险一金', '独角兽', '行业先驱']     市场|商务类      市场|营销
85         上市公司  ['包午餐晚餐', '奖金多多多', '零食下午茶', '全员出国游']  产品|需求|项目类       数据分析
86           C轮  ['扁平管理', '弹性工作', '大厨定制三餐', '就近租房补贴']  产品|需求|项目类       数据分析
87           C轮  ['扁平管理', '弹性工作', '大厨定制三餐', '就近租房补贴']  产品|需求|项目类       数据分析
88           A轮      ['岗位晋升', '年度旅游', '年底双薪', '午餐补助']  产品|需求|项目类       数据分析
89          未融资                                    []  产品|需求|项目类       数据分析

   thirdType  ... plus pcShow appShow deliver gradeDescription  \
80      数据分析  ...  NaN      0       0       0              NaN
81    商业数据分析  ...  NaN      0       0       0              NaN
82      产品经理  ...  NaN      0       0       0              NaN
83      数据分析  ...  NaN      0       0       0              NaN
84    商业数据分析  ...  NaN      0       0       0              NaN
85      数据分析  ...  NaN      0       0       0              NaN
86    其他数据分析  ...  NaN      0       0       0              NaN
87    其他数据分析  ...  NaN      0       0       0              NaN
88      数据分析  ...  NaN      0       0       0              NaN
89      数据分析  ...  NaN      0       0       0              NaN

   promotionScoreExplain isHotHire  count aggregatePositionIds famousCompany
80                   NaN         0      0                   []         False
81                   NaN         0      0                   []         False
82                   NaN         0      0                   []          True
83                   NaN         0      0                   []          True
84                   NaN         0      0                   []         False
85                   NaN         0      0                   []         False
86                   NaN         0      0                   []          True
87                   NaN         0      0                   []          True
88                   NaN         0      0                   []         False
89                   NaN         0      0                   []         False

[10 rows x 52 columns]
    positionId   positionName  companyId companySize industryField  \
90     6456921         数据分析专家     738016     50-150人       电商,数据服务
91     6888169  奔驰耀出行-战略数据分析师     751158    150-500人         移动互联网
92     6813626       资深数据分析专员     165939    150-500人          数据服务
93     6785139          数据分析师     665061     50-150人          企业服务
94     6818950        资深数据分析师     165939    150-500人          数据服务
95     5269002        数据建模工程师      50576    150-500人      移动互联网,游戏
96     6767669         数据分析专员      92417     2000人以上    移动互联网,广告营销
97     6718750   旅游大数据分析师（杭州）     122019     50-150人     数据服务,企业服务
98     6655562      数据分析建模工程师  117422215     50-150人     数据服务,信息安全
99     6677939  数据分析建模工程师（校招）  117422215     50-150人     数据服务,信息安全

   financeStage                     companyLabelList  firstType secondType  \
90          未融资                                   []  开发|测试|运维类       数据开发
91        不需要融资                                   []  产品|需求|项目类       数据分析
92        不需要融资     ['年底双薪', '带薪年假', '午餐补助', '定期体检']  开发|测试|运维类       数据开发
93           B轮                                   []  开发|测试|运维类       数据开发
94        不需要融资     ['年底双薪', '带薪年假', '午餐补助', '定期体检']  开发|测试|运维类       数据开发
95           A轮       ['带薪年假', '五险一金', '双休', '午餐补助']  开发|测试|运维类       数据开发
96         上市公司     ['节日礼物', '股票期权', '带薪年假', '岗位晋升']  产品|需求|项目类       数据分析
97           A轮     ['年底双薪', '股票期权', '午餐补助', '定期体检']  开发|测试|运维类       数据开发
98           A轮  ['午餐补助', '带薪年假', '16到18薪', '法定节假日']  开发|测试|运维类       人工智能
99           A轮  ['午餐补助', '带薪年假', '16到18薪', '法定节假日']  开发|测试|运维类       人工智能

   thirdType  ... plus pcShow appShow deliver gradeDescription  \
90      数据分析  ...  NaN      0       0       0              NaN
91      数据分析  ...  NaN      0       0       0              NaN
92      数据分析  ...  NaN      0       0       0              NaN
93      数据分析  ...  NaN      0       0       0              NaN
94      数据分析  ...  NaN      0       0       0              NaN
95        建模  ...  NaN      0       0       0              NaN
96      数据分析  ...  NaN      0       0       0              NaN
97      数据治理  ...  NaN      0       0       0              NaN
98      机器学习  ...  NaN      0       0       0              NaN
99     算法工程师  ...  NaN      0       0       0              NaN

   promotionScoreExplain isHotHire  count aggregatePositionIds famousCompany
90                   NaN         0      0                   []         False
91                   NaN         0      0                   []         False
92                   NaN         0      0                   []         False
93                   NaN         0      0                   []         False
94                   NaN         0      0                   []         False
95                   NaN         0      0                   []         False
96                   NaN         0      0                   []         False
97                   NaN         0      0                   []         False
98                   NaN         0      0                   []         False
99                   NaN         0      0                   []         False

[10 rows x 52 columns]
     positionId           positionName  companyId companySize industryField  \
100     6884346                  数据分析师      21236   500-2000人   移动互联网,医疗丨健康
101     6849100                 商业数据分析      72076   500-2000人      移动互联网,电商
102     6803432        奔驰·耀出行-BI数据分析专家     751158    150-500人         移动互联网
103     6704835                BI数据分析师      52840     2000人以上            电商
104     6728058  数据分析专家-LQ(J181203029)       2474     2000人以上         汽车丨出行

    financeStage                  companyLabelList  firstType secondType  \
100           C轮  ['技能培训', '年底双薪', '节日礼物', '绩效奖金']  产品|需求|项目类       数据分析
101           C轮  ['节日礼物', '股票期权', '带薪年假', '年度旅游']     市场|商务类      市场|营销
102        不需要融资                                []  开发|测试|运维类       数据开发
103         上市公司  ['技能培训', '年底双薪', '节日礼物', '绩效奖金']  开发|测试|运维类       数据开发
104        不需要融资  ['弹性工作', '节日礼物', '岗位晋升', '技能培训']  产品|需求|项目类       数据分析

    thirdType  ... plus pcShow appShow deliver gradeDescription  \
100      数据分析  ...  NaN      0       0       0              NaN
101    商业数据分析  ...  NaN      0       0       0              NaN
102      数据分析  ...  NaN      0       0       0              NaN
103      数据分析  ...  NaN      0       0       0              NaN
104    其他数据分析  ...  NaN      0       0       0              NaN

    promotionScoreExplain isHotHire  count aggregatePositionIds famousCompany
100                   NaN         0      0                   []         False
101                   NaN         0      0                   []         False
102                   NaN         0      0                   []         False
103                   NaN         0      0                   []          True
104                   NaN         0      0                   []          True

[5 rows x 52 columns]

In [61]:
data

### 17 读取 txt 文件｜常规

<br>

读取当前目录下 `Titanic.txt` 文件。

注意：在接下来的几种格式文件读取中，对于之前重复的参数/功能将不再整理，仅介绍读取功能。

In [65]:
data = pd.read_csv('Titanic.txt',header=None)
data.head(n=10)

                                                   0
0         version https://git-lfs.github.com/spec/v1
1  oid sha256:c5a58dbb3c71f7e6ea1593430e58b31b359...
2                                         size 28627

### 18 读取 txt 文件｜含中文

<br>

读取当前目录下 `TOP250.txt` 文件。

In [66]:
data = pd.read_csv('TOP250.txt',header=None)
data.head(n=10)

                                                   0
0         version https://git-lfs.github.com/spec/v1
1  oid sha256:fc07222d2c2b9525d9f0328b0a76beafa8a...
2                                         size 90329

### 19 读取 JSON 文件



<br>

读取当前目录下 `某基金数据.json` 文件。

In [67]:
data = pd.read_json('某基金数据.json')
data.head(n=10)

         净值日期   单位净值   累计净值    日增长率  申购状态  赎回状态  分红送配
0  2020-02-13  1.884  1.884  -0.11%  开放申购  开放赎回   NaN
1  2020-02-12  1.886  1.886   3.34%  开放申购  开放赎回   NaN
2  2020-02-11  1.825  1.825  -0.16%  开放申购  开放赎回   NaN
3  2020-02-10  1.828  1.828   1.33%  开放申购  开放赎回   NaN
4  2020-02-07  1.804  1.804   0.61%  开放申购  开放赎回   NaN
5  2020-02-06  1.793  1.793   3.11%  开放申购  开放赎回   NaN
6  2020-02-05  1.739  1.739   1.64%  开放申购  开放赎回   NaN
7  2020-02-04  1.711  1.711   7.34%  开放申购  开放赎回   NaN
8  2020-02-03  1.594  1.594  -7.22%  开放申购  开放赎回   NaN
9  2020-01-23  1.718  1.718  -2.05%  开放申购  开放赎回   NaN

### 20 读取 HDF5 文件

<br>

`HDF5`是一种特殊的文件格式，常见于在大规模存储数据上

关于 `pandas` 与 `hdf5` 格式文件的操作较多，下面仅学习如何读取。

读取当前目录下`store_tl.h5`文件

In [68]:
data = pd.read_hdf('store_tl.h5')
data.head()

ImportError: Missing optional dependency 'tables'.  Use pip or conda to install tables.

微信搜索公众号「早起Python」，关注后可以获得更多资源！

### 21 从剪贴板读取数据

<br>

打开当前目录下 `Titanic.txt` 文件，全选并复制。

现在直接从剪贴板读取数据。

In [72]:
data = pd.read_clipboard(header=None)
data.head()

         0                                                  1
0  version                 https://git-lfs.github.com/spec/v1
1      oid  sha256:c5a58dbb3c71f7e6ea1593430e58b31b359d65c...
2     size                                              28627

### 22 从 SQL 读取数据

<br>

有时我们需要从 `SQL` 中读取数据，如果先将数据导出再`pandas`读取并不是一个合适的选择。

在 `pandas` 中支持直接从 `sql` 中查询并读取。

为了方便统一操作，请先执行下面的代码创建数据。

In [4]:
from sqlite3 import connect
conn = connect(':memory:')
df = pd.DataFrame(data=[[0, '10/11/12'], [1, '12/11/10']],
                  columns=['int_column', 'date_column'])
df.to_sql('test_data', conn)

下面将 `SQL` 语句 `SELECT int_column, date_column FROM test_data` 转换为 `DataFrame`

In [78]:
data = pd.read_sql_query("select int_column, date_column FROM test_data", conn)
data.head()

   int_column date_column
0           0    10/11/12
1           1    12/11/10

### 23 从网页读取数据

<br>

直接从东京奥运会官网读取奖牌榜数据。

目标网站地址为 `https://olympics.com/tokyo-2020/olympic-games/zh/results/all-sports/medal-standings.htm`

思考：什么类型的在线表格可以直接读取？

In [5]:
import pandas as pd
data = pd.read_html('http://olympics.com/tokyo-2020/olympic-games/zh/results/all-sports/medal-standings.htm')
data.head()

ImportError: BeautifulSoup4 (bs4) not found, please install it

### 24 循环读取数据

<br>

在本小节 `demodata` 文件夹下有多个 `Excel` 文件，要求一次性循环读取全部文件

In [9]:
import glob
all_files = glob.glob('./demodata/*.xlsx')

li = []
for filename in all_files:
    li.append(pd.read_excel(filename))
print(li)
data = pd.concat(li, axis=0)
data.shape

[             日期  日增长率    涨跌          持有金额   剩余本金   操作           总资产
0    2020-01-02  1.63    up      0.000000  20000  NaN  20000.000000
1    2020-01-03  1.22    up      0.000000  20000  NaN  20000.000000
2    2020-01-06  1.09    up      0.000000  20000  NaN  20000.000000
3    2020-01-07  0.69    up      0.000000  20000  NaN  20000.000000
4    2020-01-08  0.12    up      0.000000  20000  NaN  20000.000000
..          ...   ...   ...           ...    ...  ...           ...
336  2021-05-26 -0.23  down  19036.737094   4900  NaN  23936.737094
337  2021-05-27  1.19    up  19263.274266   4900  buy  24163.274266
338  2021-05-28 -0.11  down  19341.824829   4800  NaN  24141.824829
339  2021-05-31  2.77    up  19877.593377   4800  buy  24677.593377
340  2021-06-01 -0.87  down  19803.639619   4700  NaN  24503.639619

[341 rows x 7 columns],              日期  日增长率    涨跌          持有金额   剩余本金   操作           总资产
0    2020-01-02  0.03    up      0.000000  20000  NaN  20000.000000
1    2020-01-03 -1.44  down      0.000000  20000  NaN  20000.000000
2    2020-01-06 -0.70  down      0.000000  20000  buy  20000.000000
3    2020-01-07  1.00    up    100.848500  19900  buy  20000.848500
4    2020-01-08  0.26    up    201.220316  19800  NaN  20001.220316
..          ...   ...   ...           ...    ...  ...           ...
336  2021-05-26 -0.86  down  18667.489133   6600  NaN  25267.489133
337  2021-05-27  0.15    up  18695.490366   6600  buy  25295.490366
338  2021-05-28 -0.44  down  18712.640869   6500  NaN  25212.640869
339  2021-05-31 -0.22  down  18671.473059   6500  buy  25171.473059
340  2021-06-01  0.17    up  18803.234308   6400  buy  25203.234308

[341 rows x 7 columns],              日期  日增长率    涨跌          持有金额   剩余本金   操作           总资产
0    2020-01-02  0.83    up      0.000000  20000  NaN  20000.000000
1    2020-01-03 -0.14  down      0.000000  20000  NaN  20000.000000
2    2020-01-06 -0.41  down      0.000000  20000  buy  20000.000000
3    2020-01-07  1.92    up    101.797696  19900  buy  20001.797696
4    2020-01-08 -2.02  down    197.603807  19800  NaN  19997.603807
..          ...   ...   ...           ...    ...  ...           ...
336  2021-05-26 -0.12  down  20372.810590   4700  NaN  25072.810590
337  2021-05-27  0.66    up  20507.271140   4700  buy  25207.271140
338  2021-05-28 -0.30  down  20545.329687   4600  NaN  25145.329687
339  2021-05-31  0.06    up  20557.656885   4600  buy  25157.656885
340  2021-06-01  0.42    up  20744.298540   4500  NaN  25244.298540

[341 rows x 7 columns],              日期  日增长率    涨跌          持有金额   剩余本金   操作           总资产
0    2020-01-02  2.92    up      0.000000  20000  NaN  20000.000000
1    2020-01-03  0.51    up      0.000000  20000  NaN  20000.000000
2    2020-01-06  1.98    up      0.000000  20000  NaN  20000.000000
3    2020-01-07  0.17    up      0.000000  20000  NaN  20000.000000
4    2020-01-08 -1.16  down      0.000000  20000  NaN  20000.000000
..          ...   ...   ...           ...    ...  ...           ...
336  2021-05-26 -1.50  down  16071.686368   4900  NaN  20971.686368
337  2021-05-27  1.27    up  16275.796785   4900  buy  21175.796785
338  2021-05-28  0.58    up  16470.625536   4800  NaN  21270.625536
339  2021-05-31  2.32    up  16852.744049   4800  NaN  21652.744049
340  2021-06-01 -0.57  down  16756.683407   4800  NaN  21556.683407

[341 rows x 7 columns],              日期  日增长率    涨跌          持有金额   剩余本金   操作           总资产
0    2020-01-02 -0.14  down      0.000000  20000  NaN  20000.000000
1    2020-01-03 -0.55  down      0.000000  20000  buy  20000.000000
2    2020-01-06 -1.82  down     98.032730  19900  buy  19998.032730
3    2020-01-07  1.19    up    200.237534  19800  buy  20000.237534
4    2020-01-08 -0.73  down    297.896895  19700  NaN  19997.896895
..          ...   ...   ...           ...    ...  ...           ...
336  2021-05-26  0.07    up  19943.931259   6500  NaN  26443.931259
337  2021-05-27 -0.20  down  19904.043397   6500  NaN  26404.043397
338  2021-05-28 -0.68  down  19768.695902   6500  buy  26268.695902
339  2021-05-31  1.65    up  20196.376909   6400  buy  26596.376909
340  2021-06-01  1.34    up  20568.196350   6300  NaN  26868.196350

[341 rows x 7 columns],              日期  日增长率    涨跌          持有金额   剩余本金   操作           总资产
0    2020-01-02 -0.35  down      0.000000  20000  NaN  20000.000000
1    2020-01-03 -0.69  down      0.000000  20000  buy  20000.000000
2    2020-01-06 -0.93  down     99.070000  19900  buy  19999.070000
3    2020-01-07  2.00    up    203.051400  19800  buy  20003.051400
4    2020-01-08 -0.35  down    301.990720  19700  NaN  20001.990720
..          ...   ...   ...           ...    ...  ...           ...
336  2021-05-26 -1.18  down  20517.087725   6000  NaN  26517.087725
337  2021-05-27  1.04    up  20730.465438   6000  buy  26730.465438
338  2021-05-28 -2.79  down  20249.295452   5900  NaN  26149.295452
339  2021-05-31  1.99    up  20652.256432   5900  buy  26552.256432
340  2021-06-01  2.59    up  21289.739873   5800  NaN  27089.739873

[341 rows x 7 columns],              日期  日增长率    涨跌          持有金额   剩余本金   操作           总资产
0    2020-01-02 -1.06  down      0.000000  20000  NaN  20000.000000
1    2020-01-03 -1.09  down      0.000000  20000  buy  20000.000000
2    2020-01-06 -0.79  down     99.110790  19900  buy  19999.110790
3    2020-01-07  1.03    up    201.060601  19800  buy  20001.060601
4    2020-01-08  0.16    up    301.442138  19700  NaN  20001.442138
..          ...   ...   ...           ...    ...  ...           ...
336  2021-05-26 -0.86  down  23729.814965   6400  NaN  30129.814965
337  2021-05-27  0.55    up  23860.328947   6400  buy  30260.328947
338  2021-05-28  0.13    up  23991.377245   6300  NaN  30291.377245
339  2021-05-31  0.58    up  24130.527233   6300  NaN  30430.527233
340  2021-06-01  1.20    up  24420.093560   6300  NaN  30720.093560

[341 rows x 7 columns],              日期  日增长率    涨跌          持有金额   剩余本金   操作           总资产
0    2020-01-02  2.46    up      0.000000  20000  NaN  20000.000000
1    2020-01-03  0.15    up      0.000000  20000  NaN  20000.000000
2    2020-01-06  0.08    up      0.000000  20000  NaN  20000.000000
3    2020-01-07  1.24    up      0.000000  20000  NaN  20000.000000
4    2020-01-08 -0.89  down      0.000000  20000  NaN  20000.000000
..          ...   ...   ...           ...    ...  ...           ...
336  2021-05-26  0.47    up  18108.640674   6600  NaN  24708.640674
337  2021-05-27  0.22    up  18148.479684   6600  NaN  24748.479684
338  2021-05-28 -0.78  down  18006.921542   6600  NaN  24606.921542
339  2021-05-31  0.42    up  18082.550613   6600  buy  24682.550613
340  2021-06-01  0.38    up  18251.523849   6500  NaN  24751.523849

[341 rows x 7 columns],              日期  日增长率    涨跌          持有金额   剩余本金   操作           总资产
0    2020-01-02  2.37    up      0.000000  20000  NaN  20000.000000
1    2020-01-03  2.06    up      0.000000  20000  NaN  20000.000000
2    2020-01-06  2.50    up      0.000000  20000  NaN  20000.000000
3    2020-01-07 -0.37  down      0.000000  20000  NaN  20000.000000
4    2020-01-08 -0.27  down      0.000000  20000  buy  20000.000000
..          ...   ...   ...           ...    ...  ...           ...
336  2021-05-26 -1.80  down  24209.531518   5400  NaN  29609.531518
337  2021-05-27  0.79    up  24400.786817   5400  buy  29800.786817
338  2021-05-28  5.10    up  25750.169295   5300  NaN  31050.169295
339  2021-05-31  6.79    up  27498.605790   5300  NaN  32798.605790
340  2021-06-01 -2.10  down  26921.135068   5300  NaN  32221.135068

[341 rows x 7 columns],              日期  日增长率    涨跌          持有金额   剩余本金   操作           总资产
0    2020-01-02  2.57    up      0.000000  20000  NaN  20000.000000
1    2020-01-03 -1.73  down      0.000000  20000  NaN  20000.000000
2    2020-01-06 -0.32  down      0.000000  20000  buy  20000.000000
3    2020-01-07 -0.40  down     99.450600  19900  buy  19999.450600
4    2020-01-08 -0.72  down    197.865636  19800  buy  19997.865636
..          ...   ...   ...           ...    ...  ...           ...
336  2021-05-26 -0.72  down  16984.590888   3600  NaN  20584.590888
337  2021-05-27  4.81    up  17801.549709   3600  buy  21401.549709
338  2021-05-28 -0.97  down  17727.756132   3500  NaN  21227.756132
339  2021-05-31  2.03    up  18087.629582   3500  buy  21587.629582
340  2021-06-01  1.87    up  18527.585450   3400  NaN  21927.585450

[341 rows x 7 columns]]

(3410, 7)

## 1-2 数据创建

<br>

除了直接读取本地文件，学会直接创建数据框也很重要，常见于测试一些函数，下面是从常见数据结构创建数据框的方法整理

### 25 从列表创建

<br>

将下面的 `list` 转换为 `dataframe`，并指定列名为`"早起Python"`

In [10]:
l = [1,2,3,4,5]

In [13]:
data = pd.DataFrame(data=l, columns=['早起Python'])
data.head()

   早起Python
0         1
1         2
2         3
3         4
4         5

### 26 从列表创建｜嵌套列表

<br>

将下面的 `list` 转换为 `dataframe`，并指定行索引为`"公众号","早起Python"`

In [21]:
l = [[1,2,3],[4,5,6]]
ll = []
for ind in range(0, 3):
    ll.append([l[0][ind], l[1][ind]])
print(ll)

[[1, 4], [2, 5], [3, 6]]

In [19]:
list(ll)

[([1, 2, 3],), ([4, 5, 6],)]

In [22]:
data = pd.DataFrame(data=ll, columns=["公众号","早起Python"])
data.head()

   公众号  早起Python
0    1         4
1    2         5
2    3         6

![公众号：早起Python](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/09/18/16319660121648.jpg?域名/sample.jpg?x-oss-process=style/stylename)

### 27 从字典创建

执行下方代码，并将字典转换为`dataframe`

In [23]:
d = {
    "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]) }

In [24]:
data = pd.DataFrame.from_dict(d)
data.head()

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

### 28 从字典创建｜指定索引

<br>

还是上一题的字典`d`，将其转换为`dataframe`并指定索引顺序为 `d、b、a`

In [31]:
data = pd.DataFrame.from_records(d, index=['d','b','a'])
data.head()

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

### 29 从字典创建｜指定列名

<br>

还是上一题的字典`d`，将其转换为`dataframe`并指定索引顺序为 `d、b、a`，列名为`"two", "three"`

In [36]:
data = pd.DataFrame.from_records(d, index=['d','b','a']).rename(columns={
    'one': 'two',
    'two':'three'
})
data.head()

   two  three
d  NaN    4.0
b  2.0    2.0
a  1.0    1.0

### 30 从字典创建｜字典列表
<br>

将下方列表型字典转换为`dataframe`

思考：如何指定行/列索引？

In [37]:
d = [{"a": 1, "b": 2}, {"a": 5, "b": 10, "c": 20}]

In [38]:
data = pd.DataFrame.from_records(d)
data.head()

   a   b     c
0  1   2   NaN
1  5  10  20.0

### 31 从集合创建

<br>

将下面的元组转换为 dataframe 且行列索引均为 `1,2,3,4`

In [26]:
t =((1,0,0,0,),(2,3,0,0,),(4,5,6,0,),(7,8,9,10,))

In [41]:
data = pd.DataFrame.from_records(t, columns=[1,2,3,4], index=[1,2,3,4])
data.head()

Empty DataFrame
Columns: []
Index: [(1, 0, 0, 0), (2, 3, 0, 0), (4, 5, 6, 0), (7, 8, 9, 10)]

## 1-3 数据存储

### 32 保存为 CSV

<br>

将第三题读取到的数据保存为 `csv` 格式至当前目录下（文件名任意）

In [47]:
data = pd.read_csv("某招聘网站数据.csv",nrows = 20)

In [43]:
data.to_csv('tmp1.csv')

### 33 保存为 CSV｜指定列

<br>

将第三题读取到的数据保存为 `csv` 格式至当前目录下（文件名任意），且只保留`positionName、salary`两列

In [51]:
data.to_csv('tmp2.csv', columns=['positionName', 'salary'])

### 34 保存为 CSV｜取消索引

<br>

将第三题读取到的数据保存为 `csv` 格式至当前目录下（文件名任意），且取消每一行的索引

In [54]:
data.to_csv('tmp3.csv', index=False)

### 35 保存为 CSV｜标记缺失值

<br>

在上一题的基础上，在保存的同时，将缺失值标记为`'数据缺失'`

In [55]:
data.fillna('数据缺失') .to_csv('tmp4.csv', index=False)

### 36 保存为CSV｜压缩

<br>

将上一题的数据保存至 `zip` 文件，解压后出现 `out.csv`

In [61]:
data.fillna('数据缺失') .to_csv('tmp1.zip', index=False, compression='zip')

### 37 保存为 Excel 

<br>

将第三题读取到的数据保存为 `xlsx` 格式至当前目录下（文件名任意）

In [56]:
data.to_excel('tmp1.xlsx')

### 38 保存为 JSON

将之前的数据保存为 `json` 格式至当前目录下（文件名任意）

In [57]:
data.to_json('tmp1.json')

### 39 保存为 Markdown

将之前数据转换为 `markdown` 形式表格，这样可以直接复制进 `.md` 文件中使用

In [58]:
data.to_markdown('tmp1.md')

### 40 保存为 Html

将之前的数据保存为 `html` 格式至当前目录下（文件名任意），并进行如下设置
- 取消行索引
- 标题居中对齐
- 列宽100

In [62]:
data.to_html('tmp1.html', col_space=100, index=False, justify='center')